@charset "utf-8";
/* KoPub Dotum */
@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.eot'); /* IE9 Compat Modes */
    src: 
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Medium.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* KoPub Dotum - Bold */
@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.eot'); /* IE9 Compat Modes */
    src: 
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/KoPubWorldDotum/KoPubWorld-Dotum-Bold.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'KoPub Dotum', sans-serif;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
    margin: 0;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.dashboard {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;;
	box-sizing: border-box;;
}


.contents {
    overflow: auto;
    position: relative;
    width: calc(100% - 500px);
    height: 100vh;
    padding: 10px 50px;
    margin-left: 500px;
    background-color: #f5f5f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contents-title {
	width: 100%;
	padding: 20px 10px;
	color: #303030;
	font-size: 40px;
	line-height: 62px;
	font-weight: 700;
	letter-spacing: -1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn__refresh {
	position: absolute;
	top: 30px;
	right: 60px;
	height: 60px;
	padding: 0 6px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0 none;
	color: #303030;
	font-size: 24px;
	line-height: 60px;
	font-weight: 700;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px  5px rgba(0, 0, 0, .2);
	outline: none;
}
.btn__refresh img {
	height: 48px;
	margin-top: 6px;
}

/* button-list */
.button-list {}
.button-list:before {
    content: " ";
    display: table;
}
.button-list:after {
    content: " ";
    display: table;
    clear: both;
}
.button-list > ul > li {
    float: left;
    position: relative;
    width: 33.3333%;
    min-width: 430px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* context */
.context {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
}
.context.active {
    display: block;
}
.context-title {
    color: #303030;
    font-size: 36px;
    letter-spacing: -0.88px;
    margin-bottom: 44px;
}
.context-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    padding: 40px 20px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #00000038;
    -moz-box-shadow: 0 0 15px #00000038;
    box-shadow: 0 0 15px #00000038;
}
.context-pop li + li {
    margin-top: 10px;
}
.context-pop .console-button {
	width: 100%;
	height: 100px;
	background-color: #f5f5f5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #303030;
	text-align: center;
	font-size: 35px;
}
.context-pop .console-button.aircon {
	text-align: center;
	padding-left: 0;
	background-image: none;
}
.context-pop .console-button.aircon.active {
	background-image: none;
}
.context-pop__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
}

/* card-list */
.card-list {
}
.card-list:before,
.card-list ul:before {
    content: " ";
    display: table;
}
.card-list:after,
.card-list ul:after {
    content: " ";
    display: table;
    clear: both;
}

/* card */
.card {
    float: left;
    width: 33.3333%;
    min-width: 340px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-inner {
	overflow: hidden;
    position: relative;
    width: 100%;
    height: 355px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.card-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-title {
	color: #2a2c37;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 47px;
    letter-spacing: -0.75px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-title img {
	vertical-align: middle;
}
.card-comment {
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	background-color: #f5f5f5;
	color: #303030;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	letter-spacing: -0.63px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.card-icon {
   	width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 10px solid #e4e4e4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a.console-button {
    display: block;
    text-align: center;
    line-height: 120px;
}
.console-button {
    position: relative;
    width: 100%;
    height: 120px;
    padding-left: 100px;
    border: 0 none;
    border-radius: 10px;
    background-color: #fff;
	background-repeat: no-repeat;
	-webkit-background-size: 48px 48px;
	background-size: 48px 48px;
	background-position: 30px 50%;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.console-button.front {
    float: left;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.console-button.rear {
    float: left;
    width: 20%;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}
.console-button.front.aircon + .console-button.rear {
    background-color: #4E749E;
    color: #fff;
}
.console-button.home {
    background-color: #0fc727;
    color: #fff;
}
.console-button span {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    line-height: 36px;
}
.console-button.active span {
    display: block;
}
.console-button.aircon {
	background-image: url(/assets/images/icon_aircon.png);
    text-align: left;
}
.console-button.aircon.active {
    background-color: #5fa2f0;
    background-image: url(/assets/images/icon_aircon_p.png);
    color: #fff;
}
.console-button.light {
	background-image: url(/assets/images/icon_light.png);
    text-align: left;
}
.console-button.light.active {
    background-color: #ffaa00;
    background-image: url(/assets/images/icon_light_p.png);
    color: #fff;
}
.console-button.airfresher {
	background-image: url(/assets/images/icon_air.png);
    text-align: left;
}
.console-button.airfresher.active {
    background-color: #0fc727;
    background-image: url(/assets/images/icon_air_p.png);
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    color: #fff;
}
.console-button.door {
    border: 1px solid #790e8b;
    background-color: #ffaaff;
    color: #790e8b;
}

/* 온습도 */
.temp,
.humidity {
}
.progress {
    text-align: center;
}
.circle-progress {
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.progress .circle-progress-value {
    stroke-width: 6px;
    stroke: #0fc727;
    stroke-linecap: round;
    /*stroke-dasharray: 5.98 2;*/
    transition: stroke 0.4s;
}
.progress .circle-progress-circle {
    stroke-width: 6px;
    stroke: #e4e4e4;
}
.progress .circle-progress-text {
	font-size: 22px;
    font-weight: bold;
    fill: #0fc727;
    transform: translateX(0.2em);
    transition: fill 0.4s;
}
.red .progress .circle-progress-value {
    stroke: #ff374b;
}
.red .progress .circle-progress-text {
    fill: #ff374b;
}
.blue .progress .circle-progress-value{
    stroke: #5fa3f0;
}
.blue .progress .circle-progress-text {
    fill: #5fa3f0;
}

/* 공기질 */
.air {
	position: relative;
}
.air .progress .circle-progress-text {
	font-size: 14px;
    font-weight: bold;
    fill: #303030;
    transform: translate(0.2em, 1.2em);
    transition: fill 0.4s;
}
.air__state {
	position: absolute;
	top: 65px;
	left: 50%;
	color: #0fc727;
	font-size: 50px;
	font-weight: 700;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.air.red .air__state {
	color: #ff374b;
}
.air.blue .air__state {
	color: #5fa3f0;
}

/* on/off */
.power {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.power-icon i {
    font-size: 250px;
    color: #ddd;
}
.power.active .power-icon i {
    color: #039be5;
}

/* homestate */
.homestate {
	position: relative;
    width: 100%;
    height: 100%;
}
.homestate > .card-title {
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 20px center;
}
.homestate.active {
	background-color: #FF374B;
}
.homestate.active .card-comment {
	background-color: transparent;
	color: #fff;
}

/* door */
.card-icon.card-icon--door {
    background-image: url(/assets/images/icon_lock.png);
}
.homestate.door > .card-title {
	background-image: url(/assets/images/icon_window.png);
}

.homestate.door.active > .card-title {
	background-image: url(/assets/images/icon_window_p.png);
	color: #fff;
}
.homestate.door.active {
	background-color: #5FA3F0;
}
.homestate.door.active .card-icon.card-icon--door {
    border-color: #fff;
    background-color: #5fa3f0;
    background-image: url(/assets/images/icon_lock_open.png);
}

/* gas */
.card-icon.card-icon--gas {
    background-image: url(/assets/images/icon_gas_off.png);
}
.homestate.gas > .card-title {
	background-image: url(/assets/images/icon_gas.png);
}

.homestate.gas.active > .card-title {
	background-image: url(/assets/images/icon_gas_p.png);
	color: #fff;
}
.homestate.gas.active .card-icon.card-icon--gas {
    border-color: #fff;
    background-color: #FF374B;
    background-image: url(/assets/images/icon_gas_on.png);
}

/* fire */
.card-icon.card-icon--fire {
    background-image: url(/assets/images/icon_fire_off.png);
}
.homestate.fire > .card-title {
	background-image: url(/assets/images/icon_fire.png);
}

.homestate.fire.active > .card-title {
	background-image: url(/assets/images/icon_fire_p.png);
	color: #fff;
}
.homestate.fire.active .card-icon.card-icon--fire {
    border-color: #fff;
    background-color: #FF374B;
    background-image: url(/assets/images/icon_fire_on.png);
}

/* console */
.console {
    /*display: flex;
    flex-direction: column;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox {
   /* flex: 4;*/
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.infobox__inner {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.info {
    line-height: 1.2;
}
.info:before {
    content: " ";
    display: table;
}
.info:after {
    content: " ";
    display: table;
    clear: both;
}
.location {
    width: 100%;
    text-align: center;
}
.date {
	color: #303030;
	font-size: 30px;
	letter-spacing: -0.75px;
}
#week {
	margin-left: 10px;
}
.time {
	color: #303030;
    font-size: 98px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -2.45px;
}
#ampm {
	margin-left: 16px;
	font-size: 49px;
    letter-spacing: -1.23px;
	
}
.weather {
	overflow: hidden;
    width: 400px;
    height: 430px;
    margin-top: 10px;
    background-color: #f5f5f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.weather:before {
    content: " ";
    display: table;
}
.weather:after {
    content: " ";
    display: table;
    clear: both;
}
.location {
	position: relative;
	background-color: #e4e4e4;
	color: #363b49;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: -0.5px;
}
.location:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	width: 15px;
	height: 20px;
	margin-top: -10px;
	background: url(/assets/images/icon_spot.png) no-repeat;
}
.temperature {
    float: left;
    width: 270px;
    padding: 20px;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.temperature__current {
    /* margin-top: 5px; */
    color: #303030;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.55;
    letter-spacing: -1px;
}
.temperature__current span + span {
	margin-left: 5px;
}
.weather__etc {
	color: #303030;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.57px;
}
.weather__etc:before {
	content: " ";
	display: table;
}
.weather__etc:after {
	content: " ";
	display: table;
	clear: both;
}
.weather__etc > div {
	float: left;
	color: #303030;
	font-weight: 700;
}
.weather__etc div + div {
	margin-left: 5px;
}
.weather__etc > div span {
	margin-left: 3px;
	font-weight: 400;
}
.weather__icon {
    float: left;
    position: relative;
    width: 130px;
    height: 140px;
    text-align: center;
}
.weather__icon img {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 95px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.weather__icon span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.weekly {
	float: left;
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.weekly ul {
    width: 100%;
}
.weekly ul li {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.weekly ul > li + li {
    margin-top: 10px;
}
.weekly-weather {
	overflow: hidden;
    width: 100%;
    height: 45px;
    color: #303030;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: -0.57px;
}
.weekly-day {
	float: left;
	width: 150px;
    font-weight: 700
}
.weekly-icon {
	float: left;
	width: 70px;
	height: 45px;
    text-align: right;
}
.weekly-icon img {
	height: 40px;
	vertical-align: middle;
}
.weelky-temp {
	float: left;
	width: 120px;
    text-align: right;
    letter-spacing: 1px;
}
.weelky-temp span {
	letter-spacing: -0.57px;
}
.buttons {
	position: absolute;
	bottom: 50px;
	left: 50px;
    /*flex: 2;*/
    width: 100%;
}
.buttons ul {
    width: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons li {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons li + li {
    margin-top: 20px;
}
.point-button {
    position: relative;
    width: 100%;
    height: 130px;
    border: 0 none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -0.95px;
    outline: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;;
}
.point-button img {
	margin-right: 10px;
	vertical-align: bottom;
}
.point-button.exit {
    background-color: #ff374b;
}
.point-button.exit:active {
	background-color: #c40023;
}
.point-button.open {
    background-color: #5fa3f0;
}
.point-button.open:active {
	background-color: #1a75bd;
}
/* subpage */
.sub-title {
    color: #222;
    font-size: 48px;
    text-align: center;
    line-height: 160px;
}
.sub-title i {
    margin-right: 10px;
}
/* alert */
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
}
.alert.active {
    display: block;
}
.alert-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    min-width: 1000px;
    min-height: 384px;
    padding: 230px 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alert-pop__icon {
	position: absolute;
	top: 64px;
	left: 50%;
	width: 114px;
	margin-left: -57px;
    text-align: center;
}
.alert-pop__text {
    color: #303030;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.6;
    latter-spacing: -0.88px;
    text-align: center;
}
.alert-pop__text span.color--red {
    color: #ff374b;
}
.alert-pop__close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.pop-exit {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 750px;
	padding: 95px 25px 40px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 15px #00000038;
	-moz-box-shadow: 0 0 15px #00000038;
	box-shadow: 0 0 15px #00000038;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pop-exit__text {
	color: #303030;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.6;
	letter-spacing: -0.88px;
	text-align: center;
}
.pop-exit ul {
	margin-top: 40px;
}
.pop-exit li + li {
	margin-top: 20px;
}
.exit-btn {
	width: 100%;
	height: 100px;
	background-color: #5fa3f0;
	border: 0 none;
	-webkit-border-radius: 10px;;
	-moz-border-radius: 10px;;
	border-radius: 10px;;
	color: #fff;
	font-size: 35px;
	letter-spacing: -0.88px;
	text-align: center;
	outline: none;
}
.exit-btn:active {
	background-color: #1a75bd;
}
.exit-btn.exit-btn--cancel {
	background-color: #4e4e4e;
}
.exit-btn.exit-btn--cancel:active {
	background-color: #262626;
}
.audio-pop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
.audio-pop_box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 400px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
	box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#audioCheck {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} 
#audioCheck i.fa-volume-up {
	color: #fe374a;
	font-size: 124px;
}
#audioCheck i.fa-hand-point-up {
	position: absolute;
	top: 30%;
	left: 48%;
	color: #ffca28;
	font-size: 48px;
	-webkit-animation-name: click-cursor;
	-moz-animation-name: click-cursor;
	-o-animation-name: click-cursor;
	animation-name: click-cursor;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.click {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	background-color: #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation-name: click;
	-moz-animation-name: click;
	-o-animation-name: click;
	animation-name: click;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	animation-delay: 0.75s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
#audioCheck p {
	margin-top: 60px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.4;
}


.sensor-pop {
	opacity: 0;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}
.sensor-pop.active {
	opacity: 1;
	display: block;
}
.sensor-pop__box {
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90vw;
	height: 90vh;
	padding: 100px 80px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .6);
	box-shadow: 0 5px 40px rgba(0, 0, 0, .6);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.sensor-pop__close {
	display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    font-size: 60px;
    text-align: center;
}


@keyframes click {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes click-cursor {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
    }
}
