@charset "utf-8";

/* noto-sans-kr-regular - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
    margin: 0;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    padding-right: 10px;
    z-index: 10;
}
.nav {
    position: relative;
    width: calc(100% - 10px);
    height: 100vh;
    background-color: #8ecdff;
}
.nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.nav ul li {
    flex: 1;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #046eb8;
    border-radius: 10px;
    background-color: #579ceb;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.nav-link.active {
    background-color: #046eb8;
}
.nav-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* contents */
.contents {
    /* float: left; */
    overflow: auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10px 10px 10px 15%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* button-list */
.button-list {}
.button-list:before {
    content: " ";
    display: table;
}
.button-list:after {
    content: " ";
    display: table;
    clear: both;
}
.button-list ul li {
    float: left;
    width: 20%;
    min-width: 300px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* card-list */
.card-list {
}
.card-list:before {
    content: " ";
    display: table;
}
.card-list:after {
    content: " ";
    display: table;
    clear: both;
}

/* card */
.card {
    float: left;
    width: 33.3333%;
    min-width: 340px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 360px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.card-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}
.card-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
    color: #43a047;
}
.red .card-icon {
    color: #ff5c8d
}
.blue .card-icon {
    color: #039be5
}

a.console-button {
    display: block;
    text-align: center;
    line-height: 160px;
}
.console-button {
    position: relative;
    width: 100%;
    height: 160px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    color: #888;
    font-size: 44px;
    font-weight: 700;
    outline: none;
}
.console-button.home {
    background-color: #00701a;
    color: #fff;
}
.console-button i {
    margin-right: 10px;
}
.console-button span {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    line-height: 36px;
}
.console-button.active span {
    display: block;
}
.console-button.light.active {
    background-color: #ffeb3b;
    color: #222;
}
.console-button.aircon.active {
    background-color: #006db3;
    color: #fff;
}
.console-button.airfresher.active {
    background-color: #00701a;
    color: #fff;
}
.console-button.electronic.active {
    background-color: #9e00c5;
    color: #fff;
}
.console-button.door {
    border: 1px solid #790e8b;
    background-color: #ffaaff;
    color: #790e8b;
}
.console-button.battery:hover {
    background-color: #32cb00;
    color: #fff;
}

/* 온습도 */
.temp,
.humidity {

}
.progress {
    text-align: center;
}
.circle-progress {
    width: 250px;
    height: 250px;
}
.progress .circle-progress-value {
    stroke-width: 6px;
    stroke: #43a047;
    stroke-dasharray: 5.98 2;
    transition: stroke 0.4s;
}
.progress .circle-progress-circle {
    stroke-width: 2px;
    stroke: transparent;
}
.progress .circle-progress-text {
    font-weight: bold;
    fill: #43a047;
    transform: translateX(0.2em);
    transition: fill 0.4s;
}
.red .progress .circle-progress-value {
    stroke: #ff5c8d;
}
.red .progress .circle-progress-text {
    fill: #ff5c8d;
}
.blue .progress .circle-progress-value{
    stroke: #039be5;
}
.blue .progress .circle-progress-text {
    fill: #039be5;
}

/* 공기질 */
.air-icon {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.air-icon {
    font-size: 250px;
    color: #43a047;
}
.air.bad .card-icon,
.air.bad .air-icon,
.air.bad .air-state {
    color: #ff5c8d;
}
.air.good .card-icon,
.air.good .air-icon,
.air.good .air-state {
    color: #039be5;
}
.air-state {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #43a047;
    font-size: 36px;
    font-weight: 700;
}

/* on/off */
.power {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.power .card-icon {
    color: #ddd;
}
.power-icon i {
    font-size: 250px;
    color: #ddd;
}
.power.active .card-icon,
.power.active .power-icon i {
    color: #039be5;
}

/* door */
.door {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.door .card-icon {
    color: #ddd;
}
.door-icon {
    padding: 20px 0;
}
.door-icon i {
    font-size: 200px;
    color: #ddd;
}
.door.active .card-icon,
.door.active .door-icon i {
    color: #039be5;
}

/* gas */
.gas {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.gas .card-icon {
    color: #ddd;
}
.gas-icon i {
    font-size: 250px;
    color: #ddd;
}
.gas.active .card-icon,
.gas.active .gas-icon i {
    color: #f4511e;
}

/* fire */
.fire {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.fire .card-icon {
    color: #ddd;
}
.fire-icon i {
    font-size: 250px;
    color: #ddd;
}
.fire.active .card-icon,
.fire.active .fire-icon i {
    color: #d50000;
}

/* chart */
.chart {
    width: 100%;
    height: calc(100% - 180px);
}

/* console */
.console {
    display: flex;
    flex-direction: column;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox {
    flex: 3;
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.infobox__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.info {
    font-size: 34px;
    line-height: 1.4;
}
.info:before {
    content: " ";
    display: table;
}
.info:after {
    content: " ";
    display: table;
    clear: both;
}
.location {
    float: left;
    width: 100%;
    text-align: center;
}
.date,
.time {
    float: left;
    width: 50%;
}
.time {
    text-align: right;
}
.weather {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 114px);
    padding: 40px 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.weather:before {
    content: " ";
    display: table;
}
.weather:after {
    content: " ";
    display: table;
    clear: both;
}
.temperature {
    float: left;
    width: 45%;
}
.temperature_header {
    color: rgba(0, 0, 0, .6);
    font-size: 36px;
    text-align: center;
}
.temperature_header i {
    margin-right: 5px;
}
.temperature_header .high + .low {
    margin-left: 10px;
}
.temperature__current {
    /* margin-top: 5px; */
    color: #222;
    font-size: 110px;
    text-align: center;
}
.weather__icon {
    float: left;
    width: 55%;
    text-align: center;
}
.weather__icon i {
    color: red;
    font-size: 120px;
}
.weather__icon span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.weekly {
    float: left;
    width: 100%;
    height: calc(100% - 134px);
    margin-top: 20px;
    padding: 20px 0;
    border-top: 2px solid #444;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.weekly ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.weekly ul li {
    flex: 1;
}
.weekly ul li + li {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #555;
}
.weekly-weather {
    display: flex;
    font-size: 36px;
    line-height: 36px;
}
.weekly-day {
    flex: 1;
}
.weekly-icon {
    flex: 1;
    text-align: center;
}
.weelky-temp {
    flex: 1;
    text-align: right;
}
.weelky-temp i {
    margin-right: 2px;
}

.buttons {
    flex: 2;
    width: 100%;
}
.buttons ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;;
    box-sizing: border-box;;
}
.buttons li {
    flex: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons li + li {
    margin-top: 20px;
}
.point-button {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    outline: none;
}
.point-button i {
    margin-right: 10px;
}
.point-button.exit {
    background-color: #ff4081;
}
.point-button.open {
    background-color: #448aff;
}

/* battery */
.battery-wrap {
    overflow: auto;
    width: 100%;
    height: 100%;
}
.battery-head {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-head:before {
    content: " ";
    display: table;
}
.battery-head:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-head h3 {
    float: left;
    font-size: 36px;
}
.battery-head h3 i {
    margin-right: 10px;
}
.battery-check {
    float: right;
    font-size: 36px;
}
.battery-check input[type=checkbox] {
    width: 36px;
    height: 36px;
    vertical-align: top;
}
.battery-contents {
    overflow: auto;
    position: relative;
    width: 100%;
    height: calc(100% - 62px);
}
.battery-contents:before {
    content: " ";
    display: table;
}
.battery-contents:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-section {
    float: left;
    width: 33.3333%;
    height: 498px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px rgba(0,  0, 0, .4);
    box-shadow: 0 2px 5px rgba(0,  0, 0, .4);
}
.battery-inner ul {
    overflow: auto;
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 44px);
}
.battery-inner ul li + li {
    border-top: 4px dotted #ddd
}
.battery-title {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-item {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
}
.battery-item:before {
    content: " ";
    display: table;
}
.battery-item:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-item i {
    position: absolute;
    top: 10px;
    left: 10px;
}
.battery-name {
    float: left;
    width: calc(100% - 50px);
}
.battery-percent {
    float: left;
    width: 50px;
    text-align: right;
}


/* alert */
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
}
.alert.active {
    display: block;
}
.alert-pop {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 70vw;
    padding: 40px 0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.alert-pop__icon {
    width: 40%;
    text-align: center;
    font-size: 80px;
    color: #ffeb3b;
}
.alert-pop__icon i {
    font-size: 250px;
}
.alert-pop__icon span {
    display: block;
    margin-top: 10px;
}
.alert-pop__text {
    position: relative;
    width: 60%;
}
.alert-pop__text span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 48px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.alert-pop__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 54px;
    height: 58px;
    font-size: 54px;
    color: #c4001d;
    text-align: center;;
}
