@charset "utf-8";

/* noto-sans-kr-regular - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/notosanskr/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
    margin: 0;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

/* console */
.console {
	position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    padding: 40px;
    background-color: #2c2e3b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox {
	position: relative;
	width: 100%;
}
.info-title {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -1px;
}
.datetime {
	width: 100%;
	height: 60px;
	margin-top: 20px;
	padding: 0 20px;
	background-color: #363b49;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 30px;
	letter-spacing: -0.75px;
	line-height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.iot-buttons {
	margin-top: 20px;
}
.iot-buttons h3 {
	color:#fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.55;
	letter-spacing: -0.63px; 
}
.iot-buttons ul {
	margin-top: 20px;
}
.iot-buttons ul li + li {
	margin-top: 15px;
}

.battery {
	margin-top: 20px;
}
.battery__head {
	overflow: hidden;
}
.battery_title {
	float: left;
	color: #fff;
	font-size: 25px;
	line-height: 38px;
	font-weight: 400;
	letter-spacing: -0.63px;
}
.battery-percent {
	float: left;
	margin-left: 10px;
	color: #1bc932;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.7px;
}
.battery-link {
	float: right;
}
.battery__contents {
	position: relative;
	width: 100%;
	height: 70px;
	margin-top: 10px;
	padding: 18px 20px;
	background-color: #363b49;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.battery__progress {
	position: relative;
	width: 100%;
	height: 35px;
}
.battery__progress:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background: url(/assets/images/progress__bg.png) no-repeat;
} 
.battery__bar {
	height: 35px;
	background-color: #1bc932;
}
.battery.empty .battery-percent {
	color: #ff374b;
}
.battery.empty .battery__bar {
	background-color: #ff374b;
}


/* contents */
.contents {
    overflow: auto;
    position: relative;
    width: clac(100vw - 500px);
    height: 100vh;
    margin-left: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* button-list */
.button-list {
	width: 100%;
	padding: 60px 40px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button-list:before {
    content: " ";
    display: table;
}
.button-list:after {
    content: " ";
    display: table;
    clear: both;
}
.button-list ul li {
    float: left;
    width: 33.3333%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.button-list ul li a {
	display: block;
	width: 100%;
	height: 80px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #8f8f8f;
	font-size: 35px;
	line-height: 80px;
	letter-spacing: -0.88px;
	text-align: center;
}
.button-list ul li a.active,
.button-list ul li a:hover {
	background-color: #5fa3f0;
	color: #fff;
	font-weight: 700;
}
.button-list ul li a.home {
	background: #fff url(/assets/images/home.png) no-repeat;
	-webkit-background-size: 136px 47px;
	background-size: 136px 47px;
	background-position: center center;
	text-indent: -9999px;
}
.button-list ul li a.home.active,
.button-list ul li a.home:hover {
	background: #5fa3f0 url(/assets/images/home_p.png) no-repeat;
	-webkit-background-size: 141px 47px;
	background-size: 141px 47px;
	background-position: center center;
}
.button-list ul li a.back {
	background-color: #e4e4e4;
	color: #303030;
}
.button-list ul li a.back img {
	margin-right: 10px;
}
.button-list ul li a.back:hover {
	background-color: #b2b2b2;
}


/* card-list */
.card-list {
	width: 100%;
	padding: 20px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card-list:before,
.card-list ul:before {
    content: " ";
    display: table;
}
.card-list:after,
.card-list ul:after {
    content: " ";
    display: table;
    clear: both;
}

/* card */
.card {
    float: left;
    width: 33.3333%;
    min-width: 340px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-inner {
	overflow: hidden;
    position: relative;
    width: 100%;
    height: 355px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.card-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-title {
	color: #2a2c37;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 47px;
    letter-spacing: -0.75px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-title img {
	vertical-align: middle;
}
.card-comment {
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	background-color: #f5f5f5;
	color: #303030;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	letter-spacing: -0.63px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.card-icon {
   	width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 10px solid #e4e4e4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.console-button {
    display: block;
    text-align: center;
    line-height: 120px;
}
.console-button {
    position: relative;
    width: 100%;
    height: 120px;
    padding-left: 100px;
    border: 0 none;
    border-radius: 10px;
    background-color: #363b49;
	background-repeat: no-repeat;
	-webkit-background-size: 48px 48px;
	background-size: 48px 48px;
	background-position: 30px 50%;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: left;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.console-button.home {
    background-color: #0fc727;
    color: #fff;
}
.console-button span {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    line-height: 36px;
}
.console-button.active span {
    display: block;
}
.console-button.aircon {
	background-image: url(/assets/images/icon_aircon_p.png);
    color: #fff;
    text-align: left;
}
.console-button.aircon.active {
    background-color: #5fa2f0;
    background-image: url(/assets/images/icon_aircon_p.png);
}
.console-button.light {
    background-image: url(/assets/images/icon_light_p.png);
    color: #fff;
    text-align: left;
}
.console-button.light.active {
    background-color: #ffaa00;
}
.console-button.airfresher {
	background-image: url(/assets/images/icon_air_p.png);
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    color: #fff;
    text-align: left;
}
.console-button.airfresher.active {
    background-color: #0fc727;
}
.console-button.door {
    border: 1px solid #790e8b;
    background-color: #ffaaff;
    color: #790e8b;
}
.console-button.electronic {
	background-image: url(/assets/images/icon_power.png);
    color: #fff;
}
.console-button.electronic.active {
    background-color: #9e00c5;
}

/* 온습도 */
.temp,
.humidity {
}
.progress {
    text-align: center;
}
.circle-progress {
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.progress .circle-progress-value {
    stroke-width: 6px;
    stroke: #0fc727;
    stroke-linecap: round;
    /*stroke-dasharray: 5.98 2;*/
    transition: stroke 0.4s;
}
.progress .circle-progress-circle {
    stroke-width: 6px;
    stroke: #e4e4e4;
}
.progress .circle-progress-text {
	font-size: 22px;
    font-weight: bold;
    fill: #0fc727;
    transform: translateX(0.2em);
    transition: fill 0.4s;
}
.red .progress .circle-progress-value {
    stroke: #ff374b;
}
.red .progress .circle-progress-text {
    fill: #ff374b;
}
.blue .progress .circle-progress-value{
    stroke: #5fa3f0;
}
.blue .progress .circle-progress-text {
    fill: #5fa3f0;
}

/* 공기질 */
.air {
	position: relative;
}
.air .progress .circle-progress-text {
	font-size: 14px;
    font-weight: bold;
    fill: #303030;
    transform: translate(0.2em, 1.2em);
    transition: fill 0.4s;
}
.air__state {
	position: absolute;
	top: 65px;
	left: 50%;
	color: #0fc727;
	font-size: 50px;
	font-weight: 700;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.air.red .air__state {
	color: #ff374b;
}
.air.blue .air__state {
	color: #5fa3f0;
}

/* on/off */
.power {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.power .card-icon {
    color: #ddd;
}
.power-icon i {
    font-size: 250px;
    color: #ddd;
}
.power.active .card-icon,
.power.active .power-icon i {
    color: #039be5;
}

/* door */
.door {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.door .card-icon {
    color: #ddd;
}
.door-icon {
    padding: 20px 0;
}
.door-icon i {
    font-size: 200px;
    color: #ddd;
}
.door.active .card-icon,
.door.active .door-icon i {
    color: #039be5;
}

/* homestate */
.homestate {
	position: relative;
    width: 100%;
    height: 100%;
}
.homestate > .card-title {
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 20px center;
}
.homestate.active {
	background-color: #FF374B;
}
.homestate.active .card-comment {
	background-color: transparent;
	color: #fff;
}

/* door */
.card-icon.card-icon--door {
    background-image: url(/assets/images/icon_lock.png);
}
.homestate.door > .card-title {
	background-image: url(/assets/images/icon_window.png);
}

.homestate.door.active > .card-title {
	background-image: url(/assets/images/icon_window_p.png);
	color: #fff;
}
.homestate.door.active {
	background-color: #5FA3F0;
}
.homestate.door.active .card-icon.card-icon--door {
    border-color: #fff;
    background-color: #5fa3f0;
    background-image: url(/assets/images/icon_lock_open.png);
}

/* gas */
.card-icon.card-icon--gas {
    background-image: url(/assets/images/icon_gas_off.png);
}
.homestate.gas > .card-title {
	background-image: url(/assets/images/icon_gas.png);
}

.homestate.gas.active > .card-title {
	background-image: url(/assets/images/icon_gas_p.png);
	color: #fff;
}
.homestate.gas.active .card-icon.card-icon--gas {
    border-color: #fff;
    background-color: #FF374B;
    background-image: url(/assets/images/icon_gas_on.png);
}

/* fire */
.card-icon.card-icon--fire {
    background-image: url(/assets/images/icon_fire_off.png);
}
.homestate.fire > .card-title {
	background-image: url(/assets/images/icon_fire.png);
}

.homestate.fire.active > .card-title {
	background-image: url(/assets/images/icon_fire_p.png);
	color: #fff;
}
.homestate.fire.active .card-icon.card-icon--fire {
    border-color: #fff;
    background-color: #FF374B;
    background-image: url(/assets/images/icon_fire_on.png);
}

/* chart */
.chart {
    width: 100%;
    height: calc(100% - 180px);
}



.buttons {
    flex: 2;
    width: 100%;
}
.buttons ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;;
    box-sizing: border-box;;
}
.buttons li {
    flex: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons li + li {
    margin-top: 20px;
}
.point-button {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    outline: none;
}
.point-button i {
    margin-right: 10px;
}
.point-button.exit {
    background-color: #ff4081;
}
.point-button.open {
    background-color: #448aff;
}

/* battery */
.battery-wrap {
    width: 100%;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-head {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-head:before {
    content: " ";
    display: table;
}
.battery-head:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-head h3 {
    float: left;
    color: #2a2c37;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.88px;
}
.battery-head h3 img {
    vertical-align: middle;
    margin-right: 10px;
}
.battery-check {
    float: right;
    font-size: 24px;
    line-height: 24px;
}
.battery-check input[type=checkbox] {
    width: 24px;
    height: 24px;
    vertical-align: top;
}
.battery-check label {
	line-height: 24px;
}
.battery-contents {
    overflow: auto;
    position: relative;
    width: 100%;
    height: calc(100% - 62px);
}
.battery-contents:before {
    content: " ";
    display: table;
}
.battery-contents:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-section {
    float: left;
    width: 33.3333%;
    min-width: 340px;
    height: 498px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-inner ul {
    overflow: auto;
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 44px);
    margin-top: 10px;
}
.battery-inner ul li {
    border-top: 1px solid #707070;
}
.battery-title {
    width: 100%;
    padding: 10px;
    color: #2a2c37;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.battery-title img {
	margin-right: 10px;
}
.battery-item {
    position: relative;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2a2c37;
    font-size: 25px;
    line-height: 1.5;
    lettter-spacing: -0.63px;
}
.battery-item:before {
    content: " ";
    display: table;
}
.battery-item:after {
    content: " ";
    display: table;
    clear: both;
}
.battery-name {
    float: left;
    width: calc(100% - 80px);
    
}
.battery__percent {
    float: left;
    width: 80px;
    text-align: right;
}


/* alert */
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
}
.alert.active {
    display: block;
}
.alert-pop {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 70vw;
    padding: 40px 0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.alert-pop__icon {
    width: 40%;
    text-align: center;
    font-size: 80px;
    color: #ffeb3b;
}
.alert-pop__icon i {
    font-size: 250px;
}
.alert-pop__icon span {
    display: block;
    margin-top: 10px;
}
.alert-pop__text {
    position: relative;
    width: 60%;
}
.alert-pop__text span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 48px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.alert-pop__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 54px;
    height: 58px;
    font-size: 54px;
    color: #c4001d;
    text-align: center;;
}
