<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            realTime();
            AutoStart();

            // 공기질
            const airqual = new CircleProgress('#airprogress1', {
                max: 600,
                value: 90,
                animationDuration: 400,
                textFormat: (val) => val + '㎍/㎥'
            });
            var $color1 = $("#color1");
            var $air__state1 = $("#air__state1");
            var $airprogresscoment1 = $("#airprogresscoment1");
            if (airqual.value > 80) {
                $color1.addClass('red');
                $color1.removeClass('blue');
                $air__state1.text('나쁨');
                $airprogresscoment1.text('공기청정기를 ON 해주세요.');
            }  else if (airqual.value > 30) {
                $color1.removeClass('blue');
                $color1.removeClass('red');
                $air__state1.text('보통');
                $airprogresscoment1.text('공기청정기를 그대로두세요.');
            } else {
                $color1.addClass('blue');
                $color1.removeClass('red');
                $air__state1.text('좋음');
                $airprogresscoment1.text('공기청정기를 OFF 해주세요.');
            }
            // 공기질
            const airqual2 = new CircleProgress('#airprogress2', {
                max: 600,
                value: 120,
                animationDuration: 400,
                textFormat: (val) => val + '㎍/㎥'
            });
            var $color2 = $("#color2");
            var $air__state2 = $("#air__state2");
            var $airprogresscoment2 = $("#airprogresscoment2");
            if (airqual2.value > 80) {
                $color2.addClass('red');
                $color2.removeClass('blue');
                $air__state2.text('나쁨');
                $airprogresscoment2.text('공기청정기를 ON 해주세요.');
            }  else if (airqual2.value > 30) {
                $color2.removeClass('blue');
                $color2.removeClass('red');
                $air__state2.text('보통');
                $airprogresscoment2.text('공기청정기를 그대로두세요.');
            } else {
                $color2.addClass('blue');
                $color2.removeClass('red');
                $air__state2.text('좋음');
                $airprogresscoment2.text('공기청정기를 OFF 해주세요.');
            }
            // 공기질
            const airqual3 = new CircleProgress('#airprogress3', {
                max: 600,
                value: 40,
                animationDuration: 400,
                textFormat: (val) => val + '㎍/㎥'
            });
            var $color3 = $("#color3");
            var $air__state3 = $("#air__state3");
            var $airprogresscoment3 = $("#airprogresscoment3");
            if (airqual3.value > 80) {
                $color3.addClass('red');
                $color3.removeClass('blue');
                $air__state3.text('나쁨');
                $airprogresscoment3.text('공기청정기를 ON 해주세요.');
            }  else if (airqual3.value > 30) {
                $color3.removeClass('blue');
                $color3.removeClass('red');
                $air__state3.text('보통');
                $airprogresscoment3.text('공기청정기를 그대로두세요.');
            } else {
                $color3.addClass('blue');
                $color3.removeClass('red');
                $air__state3.text('좋음');
                $airprogresscoment3.text('공기청정기를 OFF 해주세요.');
            }
            // 공기질
            const airqual4 = new CircleProgress('#airprogress4', {
                max: 600,
                value: 20,
                animationDuration: 400,
                textFormat: (val) => val + '㎍/㎥'
            });
            var $color4 = $("#color4");
            var $air__state4 = $("#air__state4");
            var $airprogresscoment4 = $("#airprogresscoment4");
            if (airqual4.value > 80) {
                $color4.addClass('red');
                $color4.removeClass('blue');
                $air__state4.text('나쁨');
                $airprogresscoment4.text('공기청정기를 ON 해주세요.');
            }  else if (airqual4.value > 30) {
                $color4.removeClass('blue');
                $color4.removeClass('red');
                $air__state4.text('보통');
                $airprogresscoment4.text('공기청정기를 그대로두세요.');
            } else {
                $color4.addClass('blue');
                $color4.removeClass('red');
                $air__state4.text('좋음');
                $airprogresscoment4.text('공기청정기를 OFF 해주세요.');
            }
            // 공기질
            const airqual5 = new CircleProgress('#airprogress5', {
                max: 600,
                value: 10,
                animationDuration: 400,
                textFormat: (val) => val + '㎍/㎥'
            });
            var $color5 = $("#color5");
            var $air__state5 = $("#air__state5");
            var $airprogresscoment5 = $("#airprogresscoment5");
            if (airqual5.value > 80) {
                $color5.addClass('red');
                $color5.removeClass('blue');
                $air__state5.text('나쁨');
                $airprogresscoment5.text('공기청정기를 ON 해주세요.');
            }  else if (airqual5.value > 30) {
                $color5.removeClass('blue');
                $color5.removeClass('red');
                $air__state5.text('보통');
                $airprogresscoment5.text('공기청정기를 그대로두세요.');
            } else {
                $color5.addClass('blue');
                $color5.removeClass('red');
                $air__state5.text('좋음');
                $airprogresscoment5.text('공기청정기를 OFF 해주세요.');
            }

            // 조명버튼
            $('#lightBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('light active')) {
                    $(this).children('.fa-lightbulb').removeClass('fas');
                    $(this).children('.fa-lightbulb').addClass('far');
                    integratedFun("light","ON");
                }else{
                    $(this).children('.fa-lightbulb').removeClass('far');
                    $(this).children('.fa-lightbulb').addClass('fas');
                    integratedFun("light","OFF");
                }
            })
            // 공기청정기 버튼
            $('#aqBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('airfresher active')) {
                    integratedFun("aq","ON");
                }else{
                    integratedFun("aq","OFF");
                }
            })
            // 에어컨 온오프버튼(전체)
            $('#airBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('aircon active')) {
                    integratedFun("air","ON");
                }else{
                    integratedFun("air","OFF");
                }
            })
        })

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    if (res.data.lightData !== '') {
                        //todo 조명이 하나라도 켜있으면 On 할것
                        console.log('lightData Json 데이터 : ' + res.data.lightData);
                        let light = JSON.parse(res.data.lightData.r_data);
                        let lightCheck =false;
                        if (light.rm1ls101 ==="on")  lightCheck = true
                        if (light.rm2ls201 ==="on")  lightCheck = true
                        if (light.rm2ls202 ==="on")  lightCheck = true
                        if (light.rm3ls101 ==="on")  lightCheck = true
                        if (light.rm4ls101 ==="on")  listhCheck = true

                        var $lightBtn = $('#lightBtn');
                        if(lightCheck) {
                            $lightBtn.addClass("active")
                            $lightBtn.children('.fa-lightbulb').removeClass('fas');
                            $lightBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $lightBtn.removeClass("active")
                            $lightBtn.children('.fa-lightbulb').addClass('fas');
                            $lightBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    if(res.data.airpurification !== '') {
                        // 공기청정기 셋팅
                        console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
                        var airpurification = JSON.parse(res.data.airpurification.r_data);
                        console.log('airpurification 상태 : ' + airpurification.rm1aq01);
                        console.log('');
                        var airpurificationPower = airpurification.rm1aq01;
                        var $aqBtn = $('#aqBtn');
                        if (airpurificationPower === "on") {
                            $aqBtn.addClass("active")
                        } else {
                            $aqBtn.removeClass("active")
                        }
                    }

                    if(res.data.aircondition !== '') {
                        // 에어컨 셋팅
                        console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
                        var aircondition = JSON.parse(res.data.aircondition.r_data);
                        console.log('aircondition 상태 : ' + aircondition.rm2ac01);

                        let airconditionCheck = false
                        if (aircondition.rm1ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air1').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air1').removeClass("active");}
                        if (aircondition.rm2ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air2').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air2').removeClass("active");}
                        if (aircondition.rm3ac01 === "cool" || aircondition.rm3ac01 === "dry" ){
                            $('#air3').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air3').removeClass("active");}

                        var $airBtn = $('#airBtn');
                        if (airconditionCheck) {
                            $airBtn.addClass("active")
                        } else {
                            $airBtn.removeClass("active")
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            if(value!=="" && batteryLowValue>Number(value)){
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode</h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
                <li><a href="/admindashboard/" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />거실</h3>
                            <div id="color1" class="air">
                                <div id="airprogress1" class="progress air-progress" data-micro="5"></div>
                                <div id="air__state1" class="air__state"></div>
                            </div>
                            <span id="airprogresscoment1" class="card-comment">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />주방</h3>
                            <div id="color2" class="air">
                                <div id="airprogress2" class="progress air-progress" data-micro="5"></div>
                                <div id="air__state2" class="air__state"></div>
                            </div>
                            <span id="airprogresscoment2" class="card-comment">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />안방</h3>
                            <div id="color3" class="air">
                                <div id="airprogress3" class="progress air-progress" data-micro="5"></div>
                                <div id="air__state3" class="air__state"></div>
                            </div>
                            <span id="airprogresscoment3" class="card-comment">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />운동방</h3>
                            <div id="color4" class="air">
                                <div id="airprogress4" class="progress air-progress" data-micro="5"></div>
                                <div id="air__state4" class="air__state"></div>
                            </div>
                            <span id="airprogresscoment4" class="card-comment">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />창고방</h3>
                            <div id="color5" class="air">
                                <div id="airprogress5" class="progress air-progress" data-micro="5"></div>
                                <div id="air__state5" class="air__state"></div>
                            </div>
                            <span id="airprogresscoment5" class="card-comment">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
