<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            realTime();
            AutoStart();
        })

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    if (res.data.lightData !== '') {
                        //todo 조명이 하나라도 켜있으면 On 할것
                        console.log('lightData Json 데이터 : ' + res.data.lightData);
                        let light = JSON.parse(res.data.lightData.r_data);
                        let lightCheck =false;
                        if (light.rm1ls101 ==="on")  lightCheck = true
                        if (light.rm2ls201 ==="on")  lightCheck = true
                        if (light.rm2ls202 ==="on")  lightCheck = true
                        if (light.rm3ls101 ==="on")  lightCheck = true
                        if (light.rm4ls101 ==="on")  listhCheck = true

                        var $lightBtn = $('#lightBtn');
                        if(lightCheck) {
                            $lightBtn.addClass("active")
                            $lightBtn.children('.fa-lightbulb').removeClass('fas');
                            $lightBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $lightBtn.removeClass("active")
                            $lightBtn.children('.fa-lightbulb').addClass('fas');
                            $lightBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    // 가전전원
                    if(res.data.electricDate !== ''){
                        //todo 전원이 하나라도 켜있으면 On 할것
                        console.log('electricDate Json 데이터 : '+ res.data.electricDate.r_data);
                        let electric = JSON.parse(res.data.electricDate.r_data);
                        // console.log('내자신');
                        // console.log('light 상태 : '+light.rm2lt01);
                        // console.log('');
                        let electricCheck = false;
                        if (electric.rm1zc01 ==="on")  electricCheck = true
                        // if (electric.rm2zc01 ==="on")  electricCheck = true
                        // if (electric.rm3zc01 ==="on")  electricCheck = true

                        var $electricBtn = $('#electricBtn');
                        if(electricCheck) {
                            $electricBtn.addClass("active")
                            $electricBtn.children('.fa-lightbulb').removeClass('fas');
                            $electricBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $electricBtn.removeClass("active")
                            $electricBtn.children('.fa-lightbulb').addClass('fas');
                            $electricBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    if(res.data.airquality !== '') {
                        // 공기질
                        console.log('airqualityData Json 데이터 : ' + res.data.airquality.r_data);
                        var airquality = JSON.parse(res.data.airquality.r_data);
                        let airDataRm1 = '0'; // 거실 공기질(PM10)
                        let airDataRm2 = '0'; // 주방 공기질(PM10)
                        let airDataRm3 = '0';// 안방 공기질(PM10)
                        try {
                            airDataRm1 = airquality.rm1pm01pm10; // 거실 공기질(PM10)
                            airDataRm2 = airquality.rm2pm01pm10; // 주방 공기질(PM10)
                            airDataRm3 = airquality.rm3pm01pm10;// 안방 공기질(PM10)
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof airDataRm1=='undefined' || airDataRm1==='unknown') airDataRm1 = '0';
                        if (typeof airDataRm2=='undefined' || airDataRm2==='unknown') airDataRm2 = '0';
                        if (typeof airDataRm3=='undefined' || airDataRm3==='unknown') airDataRm3 = '0';
                        airRefresh('airChartRm1', airDataRm1);// 거실 공기질(PM10)
                        airRefresh('airChartRm2', airDataRm2);// 주방 공기질(PM10)
                        airRefresh('airChartRm3', airDataRm3);// 안방 공기질(PM10)
                    }

                    if(res.data.airpurification !== '') {
                        // 공기청정기 셋팅
                        console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
                        var airpurification = JSON.parse(res.data.airpurification.r_data);
                        console.log('airpurification 상태 : ' + airpurification.rm1aq01);
                        console.log('');
                        var airpurificationPower = airpurification.rm1aq01;
                        var $aqBtn = $('#aqBtn');
                        if (airpurificationPower === "on") {
                            $aqBtn.addClass("active")
                        } else {
                            $aqBtn.removeClass("active")
                        }
                    }

                    if(res.data.aircondition !== '') {
                        // 에어컨 셋팅
                        console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
                        var aircondition = JSON.parse(res.data.aircondition.r_data);
                        console.log('aircondition 상태 : ' + aircondition.rm2ac01);

                        let airconditionCheck = false
                        if (aircondition.rm1ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air1').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air1').removeClass("active");}
                        if (aircondition.rm2ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air2').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air2').removeClass("active");}
                        if (aircondition.rm3ac01 === "cool" || aircondition.rm3ac01 === "dry" ){
                            $('#air3').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air3').removeClass("active");}

                        var $airBtn = $('#airBtn');
                        if (airconditionCheck) {
                            $airBtn.addClass("active")
                        } else {
                            $airBtn.removeClass("active")
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            if(value!=="" && batteryLowValue>Number(value)){
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode</h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn" class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
                <li><a href="/admindashboard/" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">거실</h3>
                            <div id ="airChartRm1Color" class="air">
                                <div id="airChartRm1" class="progress air-progress"></div>
                                <div class="air__state" id="airChartRm1State"></div>
                            </div>
                            <span class="card-comment" id="airChartRm1Message">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">주방</h3>
                            <div id ="airChartRm2Color" class="air">
                                <div id="airChartRm2" class="progress air-progress"></div>
                                <div class="air__state" id="airChartRm2State"></div>
                            </div>
                            <span class="card-comment" id="airChartRm2Message">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">안방</h3>
                            <div id ="airChartRm3Color" class="air">
                                <div id="airChartRm3" class="progress air-progress"></div>
                                <div class="air__state" id="airChartRm3State"></div>
                            </div>
                            <span class="card-comment" id="airChartRm3Message">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
