<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            AutoStart();
        })

        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminhumDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    // alert('데이터받기 실패');
                },
                success: function (res) {

                    // 온도셋팅
                    console.log('humidityData Json 데이터 : '+ res.data.humidityData.r_data);
                    var humidity = JSON.parse(res.data.humidityData.r_data);
                    console.log('사무실 습도 humidity rm1hu01 상태 : '+humidity.rm1hu01);
                    console.log('회의실 습도 humidity rm2hu01 상태 : '+humidity.rm2hu01);
                    console.log('');
                    var humDataRm1 = humidity.rm1hu01; // 사무실 온도
                    var humDataRm2 = humidity.rm2hu01; // 회의실 온도

                    let hum = null;
                    for(i=1; i<3; i++) {
                        hum = new CircleProgress('#room'+i, {
                            max: 100,
                            value: humDataRm1,
                            animationDuration: 400,
                            textFormat: (val) => val + '%'
                        });

                        if(i===1) {
                            hum.value = humDataRm1;
                        }else if(i===2){
                            hum.value = humDataRm2;
                        }

                        var $humidity = $('.humidity');
                        if (hum.value > 70) {
                            $humidity.addClass('blue').removeClass('red');
                        } else if (hum.value < 40) {
                            $humidity.addClass('red').removeClass('blue');
                        } else {
                            $humidity.removeClass('blue').removeClass('red');
                        }
                    }


                }
            });
        }

    </script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="/admin" class="nav-link active"><span>HOME</span></a>
                </li>
                <li>
                    <a href="/living" class="nav-link"><span>거실</span></a>
                </li>
                <li>
                    <a href="/kitchen" class="nav-link"><span>주방</span></a>
                </li>
                <li>
                    <a href="/inner" class="nav-link"><span>안방</span></a>
                </li>
                <li>
                    <a href="/exercise" class="nav-link"><span>운동</span></a>
                </li>
                <li>
                    <a href="/warehouse" class="nav-link"><span>창고</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <a href="javascript:history.back()" class="console-button back"><i class="fas fa-undo-alt"></i>뒤로가기</a>
                </li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a style="cursor:pointer" onclick="humLink('rm1hu01');" class="card-link">
                            <h3 class="card-title">거실</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress" id="room1"></div>
                            </div>
                        </a>
                        <!-- 서브페이지에서는 온도 하나하나를 클릭해도 이동 없음. 그러니 .card-link a태그에서 href 지워주세요 -->
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a style="cursor:pointer" onclick="humLink('rm2hu01');" class="card-link">
                            <h3 class="card-title">주방</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress" id="room2"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">안방</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress" id="room3"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">운동</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress" id="room4"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">창고</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress" id="room5"></div>
                            </div>
                        </a>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
</body>
</html>
