<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            dataInfoHum();
            realTime();
            AutoStart();

            // 조명버튼
            $('#lightBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('light active')) {
                    $(this).children('.fa-lightbulb').removeClass('fas');
                    $(this).children('.fa-lightbulb').addClass('far');
                    integratedFun("light","ON");
                }else{
                    $(this).children('.fa-lightbulb').removeClass('far');
                    $(this).children('.fa-lightbulb').addClass('fas');
                    integratedFun("light","OFF");
                }
            })
            // 공기청정기 버튼
            $('#aqBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('airfresher active')) {
                    integratedFun("aq","ON");
                }else{
                    integratedFun("aq","OFF");
                }
            })
            // 에어컨 온오프버튼(전체)
            $('#airBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('aircon active')) {
                    integratedFun("air","ON");
                }else{
                    integratedFun("air","OFF");
                }
            })

        })

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    if (res.data.lightData !== '') {
                        //todo 조명이 하나라도 켜있으면 On 할것
                        console.log('lightData Json 데이터 : ' + res.data.lightData);
                        let light = JSON.parse(res.data.lightData.r_data);
                        let lightCheck =false;
                        if (light.rm1ls101 ==="on")  lightCheck = true
                        if (light.rm2ls201 ==="on")  lightCheck = true
                        if (light.rm2ls202 ==="on")  lightCheck = true
                        if (light.rm3ls101 ==="on")  lightCheck = true
                        if (light.rm4ls101 ==="on")  listhCheck = true

                        var $lightBtn = $('#lightBtn');
                        if(lightCheck) {
                            $lightBtn.addClass("active")
                            $lightBtn.children('.fa-lightbulb').removeClass('fas');
                            $lightBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $lightBtn.removeClass("active")
                            $lightBtn.children('.fa-lightbulb').addClass('fas');
                            $lightBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    if(res.data.airpurification !== '') {
                        // 공기청정기 셋팅
                        console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
                        var airpurification = JSON.parse(res.data.airpurification.r_data);
                        console.log('airpurification 상태 : ' + airpurification.rm1aq01);
                        console.log('');
                        var airpurificationPower = airpurification.rm1aq01;
                        var $aqBtn = $('#aqBtn');
                        if (airpurificationPower === "on") {
                            $aqBtn.addClass("active")
                        } else {
                            $aqBtn.removeClass("active")
                        }
                    }

                    if(res.data.aircondition !== '') {
                        // 에어컨 셋팅
                        console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
                        var aircondition = JSON.parse(res.data.aircondition.r_data);
                        console.log('aircondition 상태 : ' + aircondition.rm2ac01);

                        let airconditionCheck = false
                        if (aircondition.rm1ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air1').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air1').removeClass("active");}
                        if (aircondition.rm2ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air2').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air2').removeClass("active");}
                        if (aircondition.rm3ac01 === "cool" || aircondition.rm3ac01 === "dry" ){
                            $('#air3').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air3').removeClass("active");}

                        var $airBtn = $('#airBtn');
                        if (airconditionCheck) {
                            $airBtn.addClass("active")
                        } else {
                            $airBtn.removeClass("active")
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            if(value!=="" && batteryLowValue>Number(value)){
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

        function dataInfoHum() {
            $.ajax({
                url: '/adminhomedata/adminhumDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    // alert('데이터받기 실패');
                },
                success: function (res) {
                    if(res.data.humidity !== '') {
                        // 습도셋팅
                        console.log('humidityData Json 데이터 : ' + res.data.humidity.r_data);
                        var humidity = JSON.parse(res.data.humidity.r_data);
                        let humDataRm1 = '0'; // 거실 습도
                        let humDataRm2 = '0'; // 주방 습도
                        let humDataRm3 = '0';// 안방 습도
                        let humDataRm4 = '0';// 운동 습도
                        let humDataRm5 = '0'; // 창고 습도
                        try {
                            humDataRm1 = humidity.rm1mu01; // 거실 습도
                            humDataRm2 = humidity.rm2mu01; // 주방 습도
                            humDataRm3 = humidity.rm3mu01;// 안방 습도
                            humDataRm4 = humidity.rm4mu01;// 운동 습도
                            humDataRm5 = humidity.rm5mu01; // 창고 습도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof humDataRm1=='undefined') humDataRm1 = '0';
                        if (typeof humDataRm2=='undefined') humDataRm2 = '0';
                        if (typeof humDataRm3=='undefined') humDataRm3 = '0';
                        if (typeof humDataRm4=='undefined') humDataRm4 = '0';
                        if (typeof humDataRm5=='undefined') humDataRm5 = '0';

                        humRefresh('humChartRm1', humDataRm1);// 거실 습도
                        humRefresh('humChartRm2', humDataRm2);// 주방 습도
                        humRefresh('humChartRm3', humDataRm3);// 안방 습도
                        humRefresh('humChartRm4', humDataRm4);// 운동 습도
                        humRefresh('humChartRm5', humDataRm5);// 창고 습도
                    }
                }
            });
        }

        //습도 표기해주는 함수
        function humRefresh(elimentId,value) {

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 100,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '%'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
            var $tempMessage = $('#'+elimentId+'Message');
            if (value > 60) {
                $tempColor.addClass('red').removeClass('blue');
                $tempMessage.text('실내가 습합니다.');
                if (value>=80) $tempMessage.text('실내가 매우 습합니다.');
            } else if (value < 40) {
                $tempColor.addClass('blue').removeClass('red');
                $tempMessage.text('실내가 건조합니다.');
                if (value<30) $tempMessage.text('실내가 매우 건조합니다.');
            } else {
                $tempColor.removeClass('blue').removeClass('red');
                $tempMessage.text('적정 실내습도입니다.');
            }
        }

    </script>
</head>
<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode</h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admin/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
                <li><a href="/admin/" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/rm1mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">거실</h3>
                            <div id ="humChartRm1Color" class="humidity">
                                <div id="humChartRm1" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm1Message">적정 실내 습도입니다.</span>
                        </a>
                        <!-- 서브페이지에서는 온도 하나하나를 클릭해도 이동 없음. 그러니 .card-link a태그에서 href 지워주세요 -->
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/rm2mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">주방</h3>
                            <div id ="humChartRm2Color" class="humidity">
                                <div id="humChartRm2" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm2Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/rm3mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">안방</h3>
                            <div id ="humChartRm3Color" class="humidity">
                                <div id="humChartRm3" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm3Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/rm4mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">운동방</h3>
                            <div id ="humChartRm4Color" class="humidity">
                                <div id="humChartRm4" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm4Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/rm5mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">창고방</h3>
                            <div id ="humChartRm5Color" class="humidity">
                                <div id="humChartRm5" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm5Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
