<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {

            dataInfo();
            realTime();
            AutoStart();

			operlationGet();
			setInterval(operlationGet, 60000); // 1분마다 데이터 불러와 실행

			detectGet();
			setInterval(detectGet, 60000); // 1분마다 데이터 불러와 실행

			var sensorInput = '<li><input type="text" class="sensor__input" /><button class="sensor__delete">삭제</button></li>'
			$('.sensor__add').on('click', function() {
				var list = $(this).parent('.sensor__head').next().children();
				list.append(sensorInput);
			});
			$('.sensor__body ul').on('click', '.sensor__delete', function() {
				$(this).parent('li').remove();
			});

        })

		// 글자제한함수
		function numberMaxLength(e){
			if(e.value.length > e.maxLength){
				e.value = e.value.slice(0, e.maxLength);
			}
		}

        // 메뉴데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    // 에어컨셋팅
                    if(res.data.aircondition !== '') {
                        airconditionCheck(res.data.aircondition.r_data);
                    }

                    // 조명셋팅
                    if(res.data.lightData !== ''){
                        lightCheck(res.data.lightData.r_data)
                    }

                    // 공기청정기셋팅
                    if(res.data.airpurification !== '') {
                        airpurificationCheck(res.data.airpurification.r_data);
                    }

                    // 가전전원셋팅
                    if(res.data.electricDate !== ''){
                        electricCheck(res.data.electricDate.r_data);
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            if(value!=="" && batteryLowValue>Number(value)){
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

		// 운영정책 데이터 보내기
        function operlationPut() {

        	// 기존 기본값
			// "opentime": "10:00",
			// "closetime": "16:00",
			// "dooropentime": "09:30",
			// "doorclosetime": "17:00",
			// "dayofweek": "1111111",
			// "motiontimer": "30"

			var $opentime1 = $("#opentime1").val();
			var $opentime2 = $("#opentime2").val();
			var opentime,opentime1Val,opentime2Val;
			if($opentime1==="" || $opentime2===""){
				alertCaution("운영시간을 입력해주세요.");
				return;
			}
			else{
				if($opentime1.length===1){
					opentime1Val = "0"+$opentime1;
				}else{
					opentime1Val = $opentime1;
				}
				if($opentime2.length===1){
					opentime2Val = "0"+$opentime2;
				}else{
					opentime2Val = $opentime2;
				}
				opentime = opentime1Val+":"+opentime2Val;
			}

			var $closetime1 = $("#closetime1").val();
			var $closetime2 = $("#closetime2").val();
			var closetime,closetime1Val,closetime2Val;
			if($closetime1==="" || $closetime2===""){
				alertCaution("비운영시간을 입력해주세요.");
				return;
			}
			else{
				if($closetime1.length===1){
					closetime1Val = "0"+$closetime1;
				}else{
					closetime1Val = $closetime1;
				}
				if($closetime2.length===1){
					closetime2Val = "0"+$closetime2;
				}else{
					closetime2Val = $closetime2;
				}
				closetime = closetime1Val+":"+closetime2Val;
			}

			var $dooropentime1 = $("#dooropentime1").val();
			var $dooropentime2 = $("#dooropentime2").val();
			var dooropentime,dooropentime1Val,dooropentime2Val;
			if($dooropentime1==="" || $dooropentime2===""){
				alertCaution("도어락 개방시간을 입력해주세요.");
				return;
			}
			else{
				if($dooropentime1.length===1){
					dooropentime1Val = "0"+$dooropentime1;
				}else{
					dooropentime1Val = $dooropentime1;
				}
				if($dooropentime2.length===1){
					dooropentime2Val = "0"+$dooropentime2;
				}else{
					dooropentime2Val = $dooropentime2;
				}
				dooropentime = dooropentime1Val+":"+dooropentime2Val;
			}

			var $doorclosetime1 = $("#doorclosetime1").val();
			var $doorclosetime2 = $("#doorclosetime2").val();
			var doorclosetime,doorclosetime1Val,doorclosetime2Val;
			if($doorclosetime1==="" || $doorclosetime2===""){
				alertCaution("도어락 비개방시간을 입력해주세요.");
				return;
			}
			else{
				if($doorclosetime1.length===1){
					doorclosetime1Val = "0"+$doorclosetime1;
				}else{
					doorclosetime1Val = $doorclosetime1;
				}
				if($doorclosetime2.length===1){
					doorclosetime2Val = "0"+$doorclosetime2;
				}else{
					doorclosetime2Val = $doorclosetime2;
				}
				doorclosetime = doorclosetime1Val+":"+doorclosetime2Val;
			}

			var dayofweek = "";
			for(i=0; i<=6; i++){
				if($("#dayofweek"+i).is(":checked") === true){
					dayofweek += "1";
				}else{
					dayofweek += "0";
				}
			}

			if(dayofweek==="0000000"){
				alertCaution("운영날을 선택해주세요.");
				return;
			}

			var motiontimer = $("#motiontimer").val();
			if(motiontimer===""){
				alertCaution("움직임 시간을 입력해주세요.");
				return;
			}

			var aircon_monthdate_from = $("#aircon_monthdate_from").val();
			var aircon_monthdate_to = $("#aircon_monthdate_to").val();
			var aircon_tmp_from = $("#aircon_tmp_from").val();
			var aircon_tmp_to = $("#aircon_tmp_to").val();
			var fullDay;

			if(aircon_monthdate_from===""){
				alertCaution("에어컨날짜 from을 셋팅해주세요.");
				return;
			}else{
				if(aircon_monthdate_from.length!==4){
					alertCaution("에어컨날짜 from을 확인해주세요.\nex)00월00일");
					return;
				}
				if(12<Number(aircon_monthdate_from.substring(0,2))){
					alertCaution("에어컨날짜 from의 월을 확인해주세요.");
					return;
				}
				fullDay = new Date(Number(new Date().getFullYear()),Number(aircon_monthdate_from.substring(0,2)),0).getDate();
				// console.log("from fullDay : "+fullDay);
				if(fullDay<Number(aircon_monthdate_from.substring(2,4))){
					alertCaution("에어컨날짜 to의 월의 일수가\n높습니다. 확인해주세요.");
					return;
				}
			}
			if(aircon_monthdate_to===""){
				alertCaution("에어컨날짜 to를 셋팅해주세요.");
				return;
			}else{
				if(aircon_monthdate_to.length!==4) {
					alertCaution("에어컨날짜 to를 확인해주세요.\nex)00월00일");
					return;
				}
				if(12<Number(aircon_monthdate_to.substring(0,2))){
					alertCaution("에어컨날짜 to의 월을 확인해주세요.");
					return;
				}
				fullDay = new Date(Number(new Date().getFullYear()),Number(aircon_monthdate_to.substring(0,2)),0).getDate();
				// console.log("to fullDay : "+fullDay);
				if(fullDay<Number(aircon_monthdate_to.substring(2,4))){
					alertCaution("에어컨날짜 from의 월의 일수가\n높습니다. 확인해주세요.");
					return;
				}
			}

			if(aircon_tmp_from===""){
				alertCaution("에어컨온도 from을 셋팅해주세요.");
				return;
			}
			if(aircon_tmp_to===""){
				alertCaution("에어컨온도 to을 셋팅해주세요.");
				return;
			}


			var settings = {
				"url": "http://square.abrain.co.kr:8080/square/operation/commonSetting?system_id=S002",
				"method": "PUT",
				"timeout": 0,
				"headers": {
					"Content-Type": "application/json"
				},
				"data": JSON.stringify({"opentime":opentime,
										"closetime":closetime,
										"dooropentime":dooropentime,
										"doorclosetime":doorclosetime,
										"dayofweek":dayofweek,
										"motiontimer":motiontimer,
										"aircon_monthdate_from":aircon_monthdate_from,
										"aircon_monthdate_to":aircon_monthdate_to,
										"aircon_tmp_from":aircon_tmp_from,
										"aircon_tmp_to":aircon_tmp_to}),
			};

			$.ajax(settings).done(function (response) {
				console.log(response);
				alertSuccess("운영정책 저장이 완료되었습니다.");
				operlationGet();
			});
		}

		// 운영정책 데이터 가져오기
		function operlationGet() {
			var params = {
				value : "http://square.abrain.co.kr:8080/square/operation/commonSetting?system_id=S002"
			};
			$.ajax({
				url: '/apiData/operationGet',
				type: 'post',
				data: params,
				cache: false,
				error: function () {
					alert('운영정책 데이터받기 실패');
				},
				success: function (res) {

					if (res.data.operationDate !== '') {
						console.log("운영정책 데이터 system_id=S002 : "+res.data.operationDate);
						console.log("");
						var operationDate = JSON.parse(res.data.operationDate);
						console.log("operationDate : "+operationDate);

						$("#opentime1").val(operationDate.data.opentime.split(':')[0]);
						$("#opentime2").val(operationDate.data.opentime.split(':')[1]);

						$("#closetime1").val(operationDate.data.closetime.split(':')[0]);
						$("#closetime2").val(operationDate.data.closetime.split(':')[1]);

						$("#dooropentime1").val(operationDate.data.dooropentime.split(':')[0]);
						$("#dooropentime2").val(operationDate.data.dooropentime.split(':')[1]);

						$("#doorclosetime1").val(operationDate.data.doorclosetime.split(':')[0]);
						$("#doorclosetime2").val(operationDate.data.doorclosetime.split(':')[1]);

						$("#motiontimer").val(operationDate.data.motiontimer);

						var dayofweek = operationDate.data.dayofweek;
						// console.log("dayofweek : "+dayofweek);
						for(i=0; i<dayofweek.length; i++){
							if(dayofweek.substring(i,i+1)==="1"){
								$("#dayofweek"+i).prop('checked', true);
							}
						}

						// 에어컨셋팅
						// from 에어컨날짜
						$("#aircon_monthdate_from").val(operationDate.data.aircon_monthdate_from);
						// to 에어컨날짜
						$("#aircon_monthdate_to").val(operationDate.data.aircon_monthdate_to);

						// from 에어컨온도
						$("#aircon_tmp_from").val(operationDate.data.aircon_tmp_from);
						// to 에어컨온도
						$("#aircon_tmp_to").val(operationDate.data.aircon_tmp_to);

					}
				}
			});
		}

		// 디텍트 데이터 보내기
		function detectPut() {

			var $smokeUl = $("#smokeUl");
			var $gasUl = $("#gasUl");
			var $motionUl = $("#motionUl");
			var $doorUl = $("#doorUl");

			var smokedetector = [];
			var gasdetector = [];
			var motionsensorchecklist = [];
			var doorsensorchecklist = [];

			var value;
			$smokeUl.children().each(function(){
				value = $(this).children('.sensor__input').val();
				// console.log("value : "+value);
				if(value===""){

				}else if(value===undefined){

				}else{
					smokedetector.push({"id":value});
				}
			});
			console.log("smokedetector : "+smokedetector);

			$gasUl.children().each(function(){
				value = $(this).children('.sensor__input').val();
				// console.log("value : "+value);
				if(value===""){

				}else if(value===undefined){

				}else{
					gasdetector.push({"id":value});
				}
			});
			console.log("gasdetector : "+gasdetector);

			$motionUl.children().each(function(){
				value = $(this).children('.sensor__input').val();
				// console.log("value : "+value);
				if(value===""){

				}else if(value===undefined){

				}else{
					motionsensorchecklist.push({"id":value});
				}
			});
			console.log("motionsensorchecklist : "+motionsensorchecklist);

			$doorUl.children().each(function(){
				value = $(this).children('.sensor__input').val();
				// console.log("value : "+value);
				if(value===""){

				}else if(value===undefined){

				}else{
					doorsensorchecklist.push({"id":value});
				}
			});
			console.log("doorsensorchecklist : "+doorsensorchecklist);

			var newData = {
							"smokedetector":smokedetector,
							"gasdetector":gasdetector,
							"motionsensorchecklist":motionsensorchecklist,
							"doorsensorchecklist":doorsensorchecklist
						  }

			var dataJson = JSON.stringify(newData);

			$.ajax({
				type: 'PUT',
				url: "http://square.abrain.co.kr:8080/square/operation/detector?system_id=S002",
				data: dataJson,
				error: function() {
					alertCaution("프리픽스되지 않은 센서가 존재합니다.");
				},
				dataType: "json",
				contentType: "application/json",
				success: function () {
					alertSuccess("디텍트 저장이 완료되었습니다.");
					detectGet();
				}
			});
		}

		// 디텍트 데이터 가져오기
		function detectGet() {

			var params = {
				value : "http://square.abrain.co.kr:8080/square/operation/detector?system_id=S002"
			};

			$.ajax({
				url: '/apiData/operationGet',
				type: 'post',
				data: params,
				cache: false,
				error: function () {
					alert('디텍트 데이터받기 실패');
				},
				success: function (res) {

					if (res.data.operationDate !== '') {
						console.log("디텍트 셋팅데이터 system_id=S002 : "+res.data.operationDate);
						console.log("");
						var operationDate = JSON.parse(res.data.operationDate);
						// console.log("operationDate : "+operationDate);

						var smoke = [];
						var gas = [];
						var motion = [];
						var door = [];

						var $smokeUl = $("#smokeUl");
						var $gasUl = $("#gasUl");
						var $motionUl = $("#motionUl");
						var $doorUl = $("#doorUl");

						operationDate.data.smokedetector.forEach(function(item) {
							smoke.push(item.id)
						});
						console.log("smoke : "+smoke);
						$smokeUl.empty();
						var htmlSmoke = '';
						for(i=0; i<smoke.length; i++) {
							htmlSmoke += '<li>'
							htmlSmoke += '<input type="text" value="'+smoke[i]+'" class="sensor__input" />'
							htmlSmoke += '<button class="sensor__delete">삭제</button>'
							htmlSmoke += '</li>'
						}
						$smokeUl.append(htmlSmoke);


						operationDate.data.gasdetector.forEach(function(item) {
							gas.push(item.id)
						});
						console.log("gas : "+gas);
						$gasUl.empty();
						var htmlGas = '';
						for(i=0; i<gas.length; i++) {
							htmlGas += '<li>'
							htmlGas += '<input type="text" value="'+gas[i]+'" class="sensor__input" />'
							htmlGas += '<button class="sensor__delete">삭제</button>'
							htmlGas += '</li>'
						}
						$gasUl.append(htmlGas);


						operationDate.data.motionsensorchecklist.forEach(function(item) {
							motion.push(item.id)
						});
						console.log("motion : "+motion);
						$motionUl.empty();
						var htmlMotion = '';
						for(i=0; i<motion.length; i++) {
							htmlMotion += '<li>'
							htmlMotion += '<input type="text" value="'+motion[i]+'" class="sensor__input" />'
							htmlMotion += '<button class="sensor__delete">삭제</button>'
							htmlMotion += '</li>'
						}
						$motionUl.append(htmlMotion);


						operationDate.data.doorsensorchecklist.forEach(function(item) {
							door.push(item.id)
						});
						console.log("door : "+door);
						$doorUl.empty();
						var htmlDoor = '';
						for(i=0; i<door.length; i++) {
							htmlDoor += '<li>'
							htmlDoor += '<input type="text" value="'+door[i]+'" class="sensor__input" />'
							htmlDoor += '<button class="sensor__delete">삭제</button>'
							htmlDoor += '</li>'
						}
						$doorUl.append(htmlDoor);

					}
				}
			});
		}

    </script>
</head>

<body>

<div class="wrap">

    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode
				<ul>
					<li><a href="/admindashboard/system" class="up-icon"><img src="/assets/images/btn_setting.png" alt=""/></a></li>
					<li><a id="passwordchange" href="#" class="up-icon"><img src="/assets/images/icon_password.png" alt=""/></a></li>
				</ul>
			</h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn" class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">

        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
                <li><a href="/admindashboard/" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>

        <div class="setting">
        	<ul class="setting__list">

        		<li>
        			<ul class="setting__list">
        				<li>
        					<h5 class="setting__title">운영시간</h5>
		        			<div class="setting__console">
			        			<input type="number" id="opentime1" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
			        			<span>:</span>
			        			<input type="number" id="opentime2" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
		        			</div>
        				</li>
        				<li>
        					<h5 class="setting__title">비운영시간</h5>
		        			<div class="setting__console">
			        			<input type="number" id="closetime1" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
			        			<span>:</span>
			        			<input type="number" id="closetime2" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
		        			</div>
        				</li>
        			</ul>
        		</li>
        		<li>
        			<ul class="setting__list">
        				<li>
        					<h5 class="setting__title">도어락 개방시간</h5>
		        			<div class="setting__console">
			        			<input type="number" id="dooropentime1" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
			        			<span>:</span>
			        			<input type="number" id="dooropentime2" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
		        			</div>
        				</li>
        				<li>
        					<h5 class="setting__title">도어락 비개방시간</h5>
		        			<div class="setting__console">
			        			<input type="number" id="doorclosetime1" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
			        			<span>:</span>
								<input type="number" id="doorclosetime2" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
		        			</div>
        				</li>
        			</ul>
        		</li>

				<li>
					<ul class="setting__list">
						<li>
							<h5 class="setting__title">에어컨날짜 from</h5>
						<div class="setting__console">
							<input type="number" id="aircon_monthdate_from" class="setting__input-text" maxlength="4" oninput="numberMaxLength(this);" />
						</div>
						</li>
						<li>
							<h5 class="setting__title">에어컨날짜 to</h5>
							<div class="setting__console">
								<input type="number" id="aircon_monthdate_to" class="setting__input-text" maxlength="4" oninput="numberMaxLength(this);" />
							</div>
						</li>
					</ul>
				</li>
				<li>
					<ul class="setting__list">
						<li>
							<h5 class="setting__title">에어컨온도 from</h5>
							<div class="setting__console">
								<input type="number" id="aircon_tmp_from" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
							</div>
						</li>
						<li>
							<h5 class="setting__title">에어컨온도 to</h5>
							<div class="setting__console">
								<input type="number" id="aircon_tmp_to" class="setting__input-text" maxlength="2" oninput="numberMaxLength(this);" />
							</div>
						</li>
					</ul>
				</li>

				<li>
					<h5 class="setting__title">운영날</h5>
					<div class="setting__console">
						<ul>
							<li>
								<input id="dayofweek0" type="checkbox" class="setting__input-check" />
								<label for="dayofweek0" class="setting__label">일</label>
							</li>
							<li>
								<input id="dayofweek1" type="checkbox" class="setting__input-check" />
								<label for="dayofweek1" class="setting__label">월</label>
							</li>
							<li>
								<input id="dayofweek2" type="checkbox" class="setting__input-check" />
								<label for="dayofweek2" class="setting__label">화</label>
							</li>
							<li>
								<input id="dayofweek3" type="checkbox" class="setting__input-check" />
								<label for="dayofweek3" class="setting__label">수</label>
							</li>
							<li>
								<input id="dayofweek4" type="checkbox" class="setting__input-check" />
								<label for="dayofweek4" class="setting__label">목</label>
							</li>
							<li>
								<input id="dayofweek5" type="checkbox" class="setting__input-check" />
								<label for="dayofweek5" class="setting__label">금</label>
							</li>
							<li>
								<input id="dayofweek6" type="checkbox" class="setting__input-check" />
								<label for="dayofweek6" class="setting__label">토</label>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<h5 class="setting__title">움직임 시간</h5>
					<div class="setting__console">
						<input type="number" id="motiontimer" class="setting__input-text" maxlength="3" oninput="numberMaxLength(this);" />
					</div>
				</li>

        	</ul>
			<button onclick="operlationPut()" class="setting__btn">저장</button>
        </div>

		<div class="setting">

			<div class="sensor">
				<div class="sensor__head">
					<h4 class="sensor__title">연기센서</h4>
					<button class="sensor__add">추가</button>
				</div>
				<div class="sensor__body">
					<ul id="smokeUl">
					</ul>
				</div>
			</div>

			<div class="sensor">
				<div class="sensor__head">
					<h4 class="sensor__title">가스센서</h4>
					<button class="sensor__add">추가</button>
				</div>
				<div class="sensor__body">
					<ul id="gasUl">
					</ul>
				</div>
			</div>

			<div class="sensor">
				<div class="sensor__head">
					<h4 class="sensor__title">모션센서</h4>
					<button class="sensor__add">추가</button>
				</div>
				<div class="sensor__body">
					<ul id="motionUl">
					</ul>
				</div>
			</div>
티
			<div class="sensor">
				<div class="sensor__head">
					<h4 class="sensor__title">도어센서</h4>
					<button class="sensor__add">추가</button>
				</div>
				<div class="sensor__body">
					<ul id="doorUl">
					</ul>
				</div>
			</div>

			<button onclick="detectPut()" class="setting__btn">저장</button>

		</div>

    </div>

</div>

</body>
</html>
