<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/common_admin.css">
    <script src="./assets/js/common_admin.js"></script>

    <script>
        $(function(){
            curveGraph();
        });

        var temChart=null;
        function curveGraph() {
            $.ajax({
                url: '/chart/chartPost',
                type: 'post',
                cache: false,
                error: function (request) {
                    alert("데이터부르기 실패")
                },
                success: function (res) {

                    var ctx = document.getElementById('temChart').getContext("2d");
                    // var chartData = {
                    //     labels: res.data.temLabel,
                    //     datasets: [{
                    //         label: "온도센서",
                    //         yAxisID: 'inpower',
                    //         backgroundColor: "#f64848",
                    //         borderWidth: 3,
                    //         borderColor: "#f64848",
                    //         data: res.data.temData,
                    //         fill: false
                    //     }]
                    // };
                    temChart = new Chart(ctx, {
                        type: 'line',
                //         data: chartData,
                //         options: {
                //             elements: {
                //                 point:{
                //                     radius: 0
                //                 }
                //             },
                //             legend:{
                //                 posiont:'top',
                //                 labels: {
                //                     fontColor: '#000000',
                //                     fontSize: 15
                //                 }
                //             },
                //             maintainAspectRatio: false,
                //             stacked : true,
                //             tooltips: { //팁(모드설정)
                //                 titleFontSize: 15,
                //                 bodyFontSize: 15,
                //                 caretPadding: 10,
                //                 borderWidth:3,
                //                 borderColor : 'rgb(138,109,255)',
                //                 mode: 'index',
                //                 intersect: false,
                //                 caretSize:0
                //             },
                //             hover: { //점 나오기
                //                 mode: 'index',
                //                 intersect: false
                //             },
                //             scales: {
                //                 xAxes: [{
                //                     ticks: {
                //                         fontSize: 15
                //                     },
                //                     display: true,
                //                 }],
                //                 yAxes: [{
                //                     ticks: {
                //                         fontSize: 15
                //                     },
                //                     id: 'inpower',
                //                     display: true,
                //                     position: 'left',
                //                 }]
                //             }
                //         }
                    });
                }
            });
        }

    </script>

</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="/admin" class="nav-link"><span>HOME</span></a>
                </li>
                <li>
                    <a href="../location/living.html" class="nav-link active"><span>거실</span></a>
                </li>
                <li>
                    <a href="../location/kitchen.html" class="nav-link"><span>주방</span></a>
                </li>
                <li>
                    <a href="../location/inner.html" class="nav-link"><span>안방</span></a>
                </li>
                <li>
                    <a href="../location/exercise.html" class="nav-link"><span>운동</span></a>
                </li>
                <li>
                    <a href="../location/warehouse.html" class="nav-link"><span>창고</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <button class="console-button aircon"><i class="fas fa-wind"></i>에어컨<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button light"><i class="fas fa-lightbulb"></i>조명<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button airfresher"><i class="fas fa-air-freshener"></i>공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic"><i class="fas fa-power-off"></i>전원<span>ON</span></button>
                </li>
            </ul>
        </div>

        <div class="chart">
            <canvas id='temChart'></canvas>
        </div>

    </div>
</div>
</body>
</html>
