<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            AutoStart();
        })

        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminTempDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    // 온도셋팅
                    console.log('temperatureData Json 데이터 : '+ res.data.temperatureData.r_data);
                    var temperature = JSON.parse(res.data.temperatureData.r_data);
                    console.log('사무실 온도 temperature rm1tm01 상태 : '+temperature.rm1tm01);
                    console.log('회의실 온도 temperature rm2tm01 상태 : '+temperature.rm2tm01);
                    console.log('');
                    var temDataRm1 = temperature.rm1tm01; // 사무실 온도
                    var temDataRm2 = temperature.rm2tm01; // 회의실 온도

                    let temp = null;
                    for(i=1; i<3; i++) {
                        temp = new CircleProgress('#room'+i, {
                            max: 48,
                            value: temDataRm1,
                            animationDuration: 400,
                            textFormat: (val) => val + '°C'
                        });

                        if(i===1) {
                            temp.value = temDataRm1;
                        }else if(i===2){
                            temp.value = temDataRm2;
                        }

                        var $temp = $('.temp');
                        if (temp.value > 26) {
                            $temp.addClass('red').removeClass('blue');
                        } else if (temp.value < 23) {
                            $temp.addClass('blue').removeClass('red');
                        } else {
                            $temp.removeClass('blue').removeClass('red');
                        }
                    }


                }
            });
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
    	<div class="infobox">
    		<h2 class="info-title">Manager Mode</h2>
    		<div class="datetime">
	    		<span class="date">2021.01.18 월요일</span>
	    		<span class="time">am 10:16</span>
    		</div>
    	</div>
    	<div class="iot-buttons">
    		<h3>IoT 가전제어</h3>
    		<ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
    	</div>
    	<div class="battery">
    		<div class="battery__head">
    			<h3 class="battery_title">배터리</h3>
    			<span class="battery-percent"></span>
    			<a href="battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
    		</div>
    		<div class="battery__contents">
    			<div class="battery__progress" data-percent="80">
    				<div class="battery__bar"></div>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="contents">
        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
    			<li><a href="admin" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />거실</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />주방</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />안방</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />운동</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />창고</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
