<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./assets/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="./assets/css/fontawesome/brands.min.css">
    <link rel="stylesheet" href="./assets/css/fontawesome/regular.min.css">
    <link rel="stylesheet" href="./assets/css/fontawesome/solid.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/circle-progress/circle-progress.js"></script>
    <script src="./assets/js/common.js"></script>
</head>
<script type="text/javascript">
    $(function() {

        dataInfo();
        realTime();

        // 조명버튼
        $('#lightBtn').on('click', function() {
            $(this).toggleClass('active');
            if ($(this).hasClass('light active')) {
                $(this).children('.fa-lightbulb').removeClass('fas');
                $(this).children('.fa-lightbulb').addClass('far');
                integratedFun("light","ON");
            }else{
                $(this).children('.fa-lightbulb').removeClass('far');
                $(this).children('.fa-lightbulb').addClass('fas');
                integratedFun("light","OFF");
            }
        })
        // 공기청정기 버튼
        $('#aqBtn').on('click', function() {
            $(this).toggleClass('active');
            if ($(this).hasClass('airfresher active')) {
                integratedFun("aq","ON");
            }else{
                integratedFun("aq","OFF");
            }
        })
        // 에어컨 버튼
        $('#airConBtn').on('click', function() {
            $(this).toggleClass('active');
        })

        // 문열기버튼
        $('#openDoorBtn').on('click', function() {
            integratedFun("door", "OPEN");
        });
        // 퇴실버튼
        $('#outBtn').on('click', function() {
            outGo();
        });

    });

    var week = ['일', '월', '화', '수', '목', '금', '토'];
    function clock() {

        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth();
        var clockDate = date.getDate();
        var day = date.getDay();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        var ampm;
        if(hours<=12){
            ampm="오후"
        }else{
            ampm="오전"
        }

        // 초까지 받아온 후
        $("#clockDate").text(`${year}.${month+1}.${clockDate}(${week[day]})`);
        $("#clockTime").text(`${ampm} ${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }`);
        // $("#clockTime").text(`${ampm} ${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }.${seconds < 10 ? `0${seconds }`  : seconds }`);
    }

    function realTime() {
        clock();
        setInterval(clock, 55000);
    }

    // 퇴실버튼
    function outGo() {
        $.ajax({
            url: '/exitGo/outGo',
            type: 'post',
            cache: false,
            error: function () {
                alert('퇴실실패');
            },
            success: function () {
                alert('퇴실성공');
            }
        });
    }
    // 데이터 받아오는 함수
    function dataInfo() {
        $.ajax({
            url: '/homedata/dataInfo',
            type: 'post',
            cache: false,
            error: function () {
                alert('데이터받기 실패');
            },
            success: function (res) {

                // 조명셋팅
                console.log('lightData Json 데이터 : '+ res.data.lightData.r_data);
                var light = JSON.parse(res.data.lightData.r_data);
                console.log('내자신');
                console.log('light 상태 : '+light.rm2lt01);
                console.log('');
                var listhData = light.rm2lt01;
                if(listhData==="on"){
                    var $lightBtn = $('#lightBtn');
                    $lightBtn.addClass("active")
                    $lightBtn.children('.fa-lightbulb').removeClass('fas');
                    $lightBtn.children('.fa-lightbulb').addClass('far');
                }

                // 온도셋팅
                console.log('temperatureData Json 데이터 : '+ res.data.temperatureData.r_data);
                var temperature = JSON.parse(res.data.temperatureData.r_data);
                console.log('사무실 온도 temperature rm1tm01 상태 : '+temperature.rm1tm01);
                console.log('회의실 온도 temperature rm2 상태 : '+temperature.rm2tm01);
                console.log('');
                var temDataRm1 = temperature.rm1tm01; // 사무실 온도
                var temDataRm2 = temperature.rm2tm01; // 회의실 온도

                const temp = new CircleProgress('.temp .progress', {
                    max: 48,
                    value: temDataRm1,
                    animationDuration: 400,
                    textFormat: (val) => val + '°C'
                });
                var $temp = $('.temp');
                if (temp.value > 26) {
                    $temp.addClass('red').removeClass('blue');
                } else if (temp.value < 23) {
                    $temp.addClass('blue').removeClass('red');
                } else {
                    $temp.removeClass('blue').removeClass('red');
                }

                // 습도셋팅
                console.log('humidityData Json 데이터 : '+ res.data.humidity.r_data);
                var humidity = JSON.parse(res.data.humidity.r_data);
                console.log('사무실 습도 humidity rm1 상태 : '+humidity.rm1hu01);
                console.log('회의실 습도 humidity rm2 상태 : '+humidity.rm2hu01);
                console.log('');
                var humDataRm1 = humidity.rm1hu01; // 사무실 습도
                var humDataRm2 = humidity.rm1hu01; // 회의실 습도

                const hum = new CircleProgress('.humidity .progress', {
                    max: 100,
                    value: humDataRm1,
                    animationDuration: 400,
                    textFormat: (val) => val + '%'
                });
                var $humidity = $('.humidity');
                if (hum.value > 70) {
                    $humidity.addClass('blue').removeClass('red');
                } else if (hum.value < 40) {
                    $humidity.addClass('red').removeClass('blue');
                } else {
                    $humidity.removeClass('blue').removeClass('red');
                }

                // 공기청정기 셋팅
                console.log('airpurificationData Json 데이터 : '+ res.data.airpurification.r_data);
                var airpurification = JSON.parse(res.data.airpurification.r_data);
                console.log('airpurification 상태 : '+airpurification.power);
                console.log('');
                var airpurificationPower = airpurification.power;
                if(airpurificationPower==="on"){
                    var $aqBtn = $('#aqBtn');
                    $aqBtn.addClass("active")
                }

                // 날씨셋팅
                console.log('weather Json 데이터 : '+ res.data.weather.r_data);
                var weather = JSON.parse(res.data.weather.r_data);
                console.log('오늘 날씨 상태 : '+weather.condition);
                console.log('오늘 날씨 온도 : '+weather.temperature);
                console.log('오늘 날씨 습도 : '+weather.humidity);
                console.log('오늘 날씨 풍속 : '+weather.wind_speed);
                console.log('다음날 날씨 리스트 : '+weather.forecast)
                console.log('');
                if(weather.condition==="sunny"){
                    $("#nowWeather").text("맑음");
                }else{
                    $("#nowWeather").text("흐림");
                }
                $("#nowTem").text(weather.temperature+"º");
                $("#nowHum").text(weather.humidity+"%");
                $("#nowWindSpeed").text(weather.wind_speed+"km/h");

                var today = new Date();
                var d=1;
                for(i=0; i<4; i++){
                    today.setDate(today.getDate()+d);
                    var day = today.getDay();

                    $("#nextDay"+i).text(`${week[day]}`+"요일");
                    // $("#nextWeatherIcon"+i).text(""); // 아이콘처리
                    $("#nextTem"+i).text(weather.forecast[i].temperature.toFixed(0)+"º");
                    $("#nextTemLow"+i).text(weather.forecast[i].templow.toFixed(0)+"º");
                }


            }
        });
    }

    // 상단 버튼 함수들 ( 조명버튼, 공기청정기버튼, 문열기버튼, 전원장치버튼)
    function integratedFun(name,value) {
        // console.log("name : "+name);
        // console.log("value : "+value);
        var params = {
            value: value
        };
        if(name==="light"){
            $.ajax({
                url: '/homedata/lightOnOff',
                type: 'post',
                data: params,
                cache: false
            });
        }else if(name==="aq"){
            $.ajax({
                url: '/homedata/aqOnOff',
                type: 'post',
                data: params,
                cache: false
            });
        }else if(name==="door"){
            $.ajax({
                url: '/homedata/opendoor',
                type: 'post',
                data: params,
                cache: false
            });
        }else{
            alert("알 수 없는 명령");
            console.log("알 수 없는 명령")
        }
    }

</script>
<body>
<div class="wrap">
    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <button id="airConBtn" class="console-button aircon"><i class="fas fa-wind"></i>에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light"><i class="fas fa-lightbulb"></i>조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher"><i class="fas fa-air-freshener"></i>공기청정기<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="temp.html" class="card-link">
                            <h3 class="card-title">온도</h3>
                            <div class="temp">
                                <span class="card-icon"><i class="fas fa-thermometer-half"></i></span>
                                <div class="progress"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <h3 class="card-title">습도</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <h3 class="card-title">공기질</h3>
                            <div class="air">
                                <span class="card-icon"><i class="fas fa-air-freshener"></i></span>
                                <div class="air-icon">
                                    <i class="far fa-smile"></i>
                                    <!-- 변경시 fa-smile 삭제 .air에 클래스 추가 -->
                                    <!-- 좋음일 때 air에 good추가 fa-smile-wink 변경 -->
                                    <!-- 나쁨일 때 air에 bad 추가 fa-frown 변경 -->
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <h3 class="card-title">창문</h3>
                            <div class="door active">
                                <span class="card-icon"><i class="fas fa-lock"></i></span>
                                <div class="door-icon">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <span>아이콘 이미지 교체 필요</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <h3 class="card-title">가스</h3>
                            <div class="gas active">
                                <span class="card-icon"><i class="fas fa-burn"></i></span>
                                <div class="gas-icon">
                                    <i class="fas fa-burn"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <h3 class="card-title">화재</h3>
                            <div class="fire active">
                                <span class="card-icon"><i class="fas fa-fire-extinguisher"></i></span>
                                <div class="fire-icon">
                                    <i class="fas fa-fire-extinguisher"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="ex-button" style="position: absolute;right: 20px;bottom: 20px;border: 1px solid #222;padding: 20px;font-size: 24px;color: #222;">경고메시지 예제</a>
        <div class="alert">
            <div class="alert-pop">
                <div class="alert-pop__icon"><i class="fas fa-exclamation-triangle"></i><span>경고</span></div>
                <div class="alert-pop__text"><span>창문이 열려 있습니다.</span></div>
                <a href="#" class="alert-pop__close"><i class="far fa-window-close"></i></a>
            </div>
        </div>
    </div>
    <div class="console">
        <div class="infobox">
            <div class="infobox__inner">
                <div class="info">
                    <div class="location">대전시 유성구</div>
                    <div class="date"><span id="clockDate"></span></div>
                    <div class="time"><span id="clockTime"></span></div>
                </div>
                <div class="weather">
                    <div class="temperature">
                        <div id="nowTem" class="temperature__current">38º</div>
                        <div class="weather__etc">
                            <div class="weather__humidity"><i class="fas fa-tint"></i><span id="nowHum">40%</span></div>
                            <div class="weather__wind"><i class="fas fa-wind"></i><span id="nowWindSpeed">20.20km/h</span></div>
                        </div>
                    </div>
                    <div class="weather__icon">
                        <i id="newWeatherIcon" class="fas fa-sun"></i>
                        <span id="nowWeather">맑음</span>
                    </div>
                    <div class="weekly">
                        <ul>
                            <li>
                                <div class="weekly-weather">
                                    <div id="nextDay0" class="weekly-day">금요일</div>
                                    <div class="weekly-icon"><i id="nextWeatherIcon0" class="fas fa-sun"></i></div>
                                    <div class="weelky-temp">
                                        <span class="high"><i class="fas fa-long-arrow-alt-up"></i><span id="nextTem0"></span></span>
                                        <span class="low"><i class="fas fa-long-arrow-alt-down"></i><span id="nextTemLow0"></span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="weekly-weather">
                                    <div id="nextDay1" class="weekly-day">토요일</div>
                                    <div class="weekly-icon"><i id="nextWeatherIcon1" class="fas fa-sun"></i></div>
                                    <div class="weelky-temp">
                                        <span class="high"><i class="fas fa-long-arrow-alt-up"></i><span id="nextTem1"></span></span>
                                        <span class="low"><i class="fas fa-long-arrow-alt-down"></i><span id="nextTemLow1"></span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="weekly-weather">
                                    <div id="nextDay2" class="weekly-day">일요일</div>
                                    <div class="weekly-icon"><i id="nextWeatherIcon2" class="fas fa-sun"></i></div>
                                    <div class="weelky-temp">
                                        <span class="high"><i class="fas fa-long-arrow-alt-up"></i><span id="nextTem2"></span></span>
                                        <span class="low"><i class="fas fa-long-arrow-alt-down"></i><span id="nextTemLow2"></span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="weekly-weather">
                                    <div id="nextDay3" class="weekly-day">월요일</div>
                                    <div class="weekly-icon"><i id="nextWeatherIcon3" class="fas fa-sun"></i></div>
                                    <div class="weelky-temp">
                                        <span class="high"><i class="fas fa-long-arrow-alt-up"></i><span id="nextTem3"></span></span>
                                        <span class="low"><i class="fas fa-long-arrow-alt-down"></i><span id="nextTemLow3"></span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <ul>
                <li><button id="outBtn" class="point-button exit"><i class="fas fa-sign-out-alt"></i>퇴실</button></li>
                <li><button id="openDoorBtn" class="point-button open"><i class="fas fa-door-open"></i>문열림</button></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
