<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">
<head>
    <script type="text/javascript">

        $(function() {

            dataInfo();
            realTime();
            AutoStart();

            // 문열기버튼
            $('#openDoorBtn').on('click', function() {
                integratedFun("door", "OPEN");
            });
            // 퇴실버튼
            $('#outBtn').on('click', function() {
                outGo();
            });

        });

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/homedata/dataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {
                    // 에어컨셋팅
                    if(res.data.aircondition !== '') {
                        airconditionCheck(res.data.aircondition.r_data);
                    }

                    // 조명셋팅
                    if(res.data.lightData !== ''){
                        lightCheck(res.data.lightData.r_data)
                    }

                    // 공기청정기셋팅
                    if(res.data.airpurification !== '') {
                        airpurificationCheck(res.data.airpurification.r_data);
                    }

                    // 가전전원셋팅
                    if(res.data.electricDate !== ''){
                        electricCheck(res.data.electricDate.r_data);
                    }

                    // 온도셋팅
                    if(res.data.temperatureData !== '') {
                        console.log('temperatureData Json 데이터 : ' + res.data.temperatureData.r_data);
                        var temperature = JSON.parse(res.data.temperatureData.r_data);
                        let temDataRm1 = '0'; // 거실 온도
                        try {
                            temDataRm1 = temperature.SS021mu01; // 거실 온도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof temDataRm1=='undefined' || temDataRm1==="unavailable" ||  temDataRm1==="") temDataRm1 = '0';
                        tempRefresh('temChart', temDataRm1);
                    }

                    if(res.data.humidity !== '') {
                        // 습도셋팅
                        console.log('humidityData Json 데이터 : ' + res.data.humidity.r_data);
                        var humidity = JSON.parse(res.data.humidity.r_data);
                        let humDataRm1 = '0'; // 거실 습도
                        try {
                            humDataRm1 = humidity.SS021mu01; // 거실 습도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof humDataRm1=='undefined' || humDataRm1==='unavailable' || humDataRm1==="") humDataRm1 = '0';
                        humRefresh('humChart', humDataRm1);// 거실 습도
                    }

                    if(res.data.airquality !== '') {
                        // 공기질
                        console.log('airqualityData Json 데이터 : ' + res.data.airquality.r_data);
                        var airquality = JSON.parse(res.data.airquality.r_data);
                        let airDataRm1 = '0'; // 거실 공기질(PM10)

                        try {
                            airDataRm1 = airquality.SS021pm01; // 거실 공기질(PM10)
                        }catch (e){
                            // 에러처리 필요없슴
                        }

                        if (typeof airDataRm1=='undefined' ||  airDataRm1==='unavailable' || airDataRm1==='unknown') airDataRm1 = '0';
                        airRefresh('airChart', airDataRm1);// 거실 공기질(PM10)
                    }

                    if(res.data.doorsensor !== '') {
                        console.log('doorsensor Json 데이터 : ' + res.data.doorsensor.r_data);
                        doorDetectData("all",res.data.doorsensor.r_data);
                    }

                    if(res.data.gas !== '') {
                        // 가스 셋팅
                        console.log('gas Json 데이터 : ' + res.data.gas.r_data);
                        var gas = JSON.parse(res.data.gas.r_data);
                        console.log('gas 상태 : ' + gas.SS022ga01);
                        console.log('');

                        let checkGas = false;
                        if (gas.SS022ga01 === "detected") checkGas = true;
                        var $gas = $('#gas');
                        if (checkGas) {
                            $gas.addClass("active")
                        } else {
                            $gas.removeClass("active")
                        }
                    }

                    if(res.data.smoke !== '') {
                        // 화재 셋팅
                        console.log('smoke Json 데이터 : ' + res.data.smoke.r_data);
                        var smoke = JSON.parse(res.data.smoke.r_data);
                        console.log('smoke 상태 : ' + smoke.SS021sm01);
                        console.log('');

                        let checkSmoke = false;
                        if (smoke.SS021sm01 === "detected") checkSmoke = true;
                        if (smoke.SS022sm01 === "detected") checkSmoke = true;
                        if (smoke.SS023sm01 === "detected") checkSmoke = true;
                        if (smoke.SS024sm01 === "detected") checkSmoke = true;
                        if (smoke.SS025sm01 === "detected") checkSmoke = true;

                        var $smoke = $('#smoke');
                        if (checkSmoke){
                            $smoke.addClass("active");
                        }else{
                            $smoke.removeClass("active");
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        console.log('battery Json 데이터 : ' + res.data.batteryData.r_data);
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            // console.log('키 : '+key + ', 값 :' + value);
                            if(value!=="" && batteryLowValue>Number(value)){
                                // console.log('batteryLowValue : '+batteryLowValue + ', value :' + value);
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

    </script>
</head>
<body>
<div class="wrap">
	<div class="console">
    	<div class="infobox">
            <h2 class="info-title">Manager Mode
                <ul>
                    <li><a href="/admindashboard/system" class="up-icon"><img src="/assets/images/btn_setting.png" alt=""/></a></li>
                    <li><a id="passwordchange" href="#" class="up-icon"><img src="/assets/images/icon_password.png" alt=""/></a></li>
                </ul>
            </h2>
    		<div class="datetime">
	    		<span id="fulldate" class="date">2021.01.18 월요일</span>
	    		<span id="ampm" class="time">am 10:16</span>
    		</div>
    	</div>
    	<div class="iot-buttons">
    		<h3>IoT 가전제어</h3>
    		<ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn"  class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
    	</div>
    	<div class="battery">
    		<div class="battery__head">
    			<h3 class="battery_title">배터리</h3>
    			<span class="battery-percent"></span>
    			<a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
    		</div>
    		<div class="battery__contents">
    			<div class="battery__progress" data-percent="50">
    				<div class="battery__bar"></div>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="contents">
    	<div class="button-list">
    		<ul>
    			<li><a href="/admindashboard/" class="home active">HOME</a></li>
    			<li><a href="/admindashboard/living">거실</a></li>
    			<li><a href="/admindashboard/kitchen">주방</a></li>
    			<li><a href="/admindashboard/inner">안방</a></li>
    			<li><a href="/admindashboard/exercise">운동방</a></li>
    			<li><a href="/admindashboard/warehouse">창고방</a></li>
    		</ul>
    	</div>
        
        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="/admindashboard/temp" class="card-link sensor-card sensor-card--temp">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />온도</h3>
                            <div id="temChartColor" class="temp">
                                <div id="temChart" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/admindashboard/humidity" class="card-link sensor-card sensor-card--humidity">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도" />습도</h3>
                            <div id="humChartColor" class="humidity">
                                <div id="humChart" class="progress humidity-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartMessage">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/admindashboard/air" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />공기질</h3>
                            <div class="air" id="airChartColor">
                                <div class="progress air-progress" id="airChart" ></div>
                                <div class="air__state" id="airChartState"></div>
                            </div>
                            <span class="card-comment" id="airChartMessage">공기청정기를 ON 해주세요</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="doorStatus" class="homestate door">
                            	<h3 class="card-title">창문</h3>
                                <div class="card-icon card-icon--door"></div>
                                <span class="card-comment" id="doorMessage">창문 보안 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="gas" class="homestate gas">
                            	<h3 class="card-title">가스</h3>
                                <div class="card-icon card-icon--gas"></div>
                                <span class="card-comment" id="gasrMessage">가스 상태 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="smoke" class="homestate fire">
                            	<h3 class="card-title">화재</h3>
                                <div class="card-icon card-icon--fire"></div>
                                <span class="card-comment" id="fireMessage">화재 위험 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="alert">
            <div class="alert-pop">
                <div class="alert-pop__icon"><i class="fas fa-exclamation-triangle"></i><span>경고</span></div>
                <div class="alert-pop__text"><span>안방 창문이 열려 있습니다.</span></div>
                <a href="#" class="alert-pop__close"><i class="far fa-window-close"></i></a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
