<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">

<head>

    <script type="text/javascript">
		$(document).ready(function() {

            dataInfo();
            realTime();
            AutoStart();

            // 에어컨 개별제어
            $('.console-button.rear').on('click', function(e) {
                $('.context').addClass('active');
                e.preventDefault();
            });
            $('.context-pop__close').on('click', function(e) {
                $('.context').removeClass('active');
                e.preventDefault();
            })

            // 에어컨 온오프버튼
            $('#airBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('aircon active')) {
                    console.log("에어컨온")
                    integratedFun("air","ON");
                }else{
                    console.log("에어컨오프")
                    integratedFun("air","OFF");
                }
            })

            $('#air1').on('click', function() {
                $(this).toggleClass('active');
				if ($(this).hasClass('aircon active')) {
					console.log("거실 에어컨온")
					integratedFun("air1","ON");
				}else{
					console.log("에어컨오프")
					integratedFun("air1","OFF");
				}
            })
            $('#air2').on('click', function() {
                $(this).toggleClass('active');
				if ($(this).hasClass('aircon active')) {
					console.log("주방 에어컨온")
					integratedFun("air2","ON");
				}else{
					console.log("에어컨오프")
					integratedFun("air2","OFF");
				}
            })
            $('#air3').on('click', function() {
                $(this).toggleClass('active');
				if ($(this).hasClass('aircon active')) {
					console.log("안방 에어컨온")
					integratedFun("air3","ON");
				}else{
					console.log("안방 에어컨오프")
					integratedFun("air3","OFF");
				}
            })

            // 조명버튼
            $('#lightBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('light active')) {
                    integratedFun("light","ON");
                }else{
                    integratedFun("light","OFF");
                }
            })
            // 공기청정기 버튼
            $('#aqBtn').on('click', function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('airfresher active')) {
                    integratedFun("aq","ON");
                }else{
                    integratedFun("aq","OFF");
                }
            })

            // 문열기버튼
            $('#openDoorBtn').on('click', function() {
                doorOpen("OPEN");
            });
            // 퇴실할지여부 물어보는 화면
            $('#outBtn').on('click', function() {
                outGoReady();
            });

			$('#outGoExec').on('click', function() {

				outGo();
			});



			//음성활성화
			$('#audioCheck').on('click', function() {

				var secureAudio = document.getElementById("secure01");
				secureAudio.play();
				var gasAudio = document.getElementById("gas01");
				gasAudio.play();
				var smokeAudio = document.getElementById("smoke01");
				smokeAudio.play();
				var leaveAudio = document.getElementById("leave02");
				leaveAudio.play();
				var welcomeAudio = document.getElementById("welcome01");
				welcomeAudio.play();

				$('.audio-pop').fadeOut(100);
			});
			//경고방송용 토픽 구독
            sseSubcribe();

        });

		function outGo() {
			$("#exitPop").removeClass("active");

			$.ajax({
				url: '/exitGo/outGo',
				type: 'post',
				cache: false,
				error: function () {
					alert('퇴실실패');
				},
				success: function (res) {
					var leaveAudio = document.getElementById("leave02");
					$("#leave02").prop("muted",false);
					leaveAudio.play();

				}
			});
		}

		function outGoReady() {
			$("#exitPop").addClass("active");
			$.ajax({
				url: '/exitGo/ready',
				type: 'post',
				cache: false,
				error: function () {
					alert('퇴실실패');
				},
				success: function (res) {



					var doorsensor = JSON.parse(res.data.doorsensor.r_data);
					let doorCheckRm1 =false; //거실
					let doorCheckRm2 =false; //주방
					let doorCheckRm3 =false; //안방
					let doorCheckRm4 =false; //운동
					let doorCheckRm5 =false; //창고

					if (doorsensor.rm1dr01 =="on")  doorCheckRm1 = true
					if (doorsensor.rm1dr02 =="on")  doorCheckRm1 = true
					if (doorsensor.rm1dr03 =="on")  doorCheckRm1 = true

					if (doorsensor.rm2dr03 =="on")  doorCheckRm2 = true
					if (doorsensor.rm2dr04 =="on")  doorCheckRm2 = true
					if (doorsensor.rm2dr05 =="on")  doorCheckRm2 = true
					if (doorsensor.rm2dr06 =="on")  doorCheckRm2 = true
					if (doorsensor.rm2dr07 =="on")  doorCheckRm2 = true

					if (doorsensor.rm3dr01 =="on")  doorCheckRm3 = true
					if (doorsensor.rm3dr02 =="on")  doorCheckRm3 = true
					if (doorsensor.rm3dr03 =="on")  doorCheckRm3 = true

					if (doorsensor.rm4dr01 =="on")  doorCheckRm4 = true
					if (doorsensor.rm4dr02 =="on")  doorCheckRm4 = true
					if (doorsensor.rm4dr03 =="on")  doorCheckRm4 = true

					if (doorsensor.rm5dr01 =="on")  doorCheckRm5 = true
					if (doorsensor.rm5dr02 =="on")  doorCheckRm5 = true


					if(doorCheckRm1 || doorCheckRm2 || doorCheckRm3 || doorCheckRm4 || doorCheckRm5 ){
						$('#doorStatus').addClass("active")
						let doorType ='';
						if(doorCheckRm1) doorType = "거실";
						if(doorCheckRm2) doorType = "주방";
						if(doorCheckRm3) doorType = "안방";
						if(doorCheckRm4) doorType = "운동방";
						if(doorCheckRm5) doorType = "창고방";
						$('#place').text(doorType +  " 창문(뒷문)이 열려있습니다.");
						$('#doorMessage').text(doorType + " 창문(뒷문)이 열렸습니다.");

					}else{
						$('#doorStatus').removeClass("active")
						$('#place').text("");

					}
				}
			});
		}

        // 서버에서 경고 토픽 받아오는 기능 (SSE기반)
        function sseSubcribe() {
            //alert("test");
            source = new EventSource("/homedata/mqttsubcribe");
            console.log("create EventSource");
            source.onmessage = function(ev) {
                console.log("Notice Alert Topic 수신: ", ev.data);
                var receiveData = JSON.parse(ev.data);

                if (receiveData.type=="secure" || receiveData.type=="gas" || receiveData.type=="smoke") {
                    // 경고메세지 표기
                    warningMessage(receiveData.type);
                    // 경고음성 재생
					warningAudioPlay(receiveData.type);
                }
                //refresh 이면 오면 화면 재갱신 함수 호출
                if(receiveData.type==="refresh"){
					dataInfo();
				}
				if(receiveData.type==="screenrefresh"){
					location.reload();
				}

            };
            source.onerror = function(err) {
                console.log("sse on err: ", err);
                stop();
            };
        }

        //경고메세지
        function warningMessage(stype) {
            //stype : secure : 비운영시간에 움직임감지,  gas : 가스감지 , smoke : 연기감지
            if (stype==="secure") {
                $('#alertmsg').html("운영시간 외 움직임이 감지되어 <br>관리자에게 알림이 송신되었습니다. <br> (<span class='color--red'>5초</span> 후 메세지창이닫힙니다)")
                $('#alertarea').addClass('active');
                setTimeout(function() {
                    $('#alertarea').removeClass('active');
                }, 5000)
            }
            if (stype==="smoke") {
                $('#alertmsg').html("경로당내 연기가 감지되었습니다. <br> 화재발생에 주의 해주세요. <br> (<span class='color--red'>5초</span> 후 메세지창이닫힙니다)")
                $('#alertarea').addClass('active');
                setTimeout(function() {
                    $('#alertarea').removeClass('active');
                }, 5000)
                $("#smoke").addClass("active")
            }
            if (stype==="gas") {
                $('#alertmsg').html("경로당내 가스가 감지되었습니다. <br> 가스밸브를 확인 해주세요. <br> (<span class='color--red'>5초</span> 후 메세지창이닫힙니다)")
                $('#alertarea').addClass('active');
                setTimeout(function() {
                    $('#alertarea').removeClass('active');
                }, 5000)
                $("#gas").addClass("active")
            }
        }

        function warningAudioPlay(stype) {
            //stype : secure : 비운영시간에 움직임감지,  gas : 가스감지 , smoke : 연기감지
            if (stype=="secure") {

				var secureAudio = document.getElementById("secure01");
				$("#secure01").prop("muted",false);
				secureAudio.play();
            }
			if (stype=="gas") {
				var gasAudio = document.getElementById("gas01");
				$("#gas01").prop("muted",false);
				gasAudio.play();

			}
			if (stype=="smoke") {
				var smokeAudio = document.getElementById("smoke01");
				$("#smoke01").prop("muted",false);
				smokeAudio.play();

			}

        }

        var week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
        function clock() {

            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth();
            var clockDate = date.getDate();
            var day = date.getDay();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            // var seconds = date.getSeconds();

            var ampm;
            if(hours<=12){
                ampm="am";
            }else{
            	hours = hours - 12;
                ampm="pm";
            }

            // 초까지 받아온 후
            $("#clockDate").text(`${year}.${month+1}.${clockDate}`);
            $("#week").text(`${week[day]}`)
            $("#clockTime").text(`${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }`);
            $("#ampm").text(`${ampm}`)
            // $("#clockTime").text(`${ampm} ${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }.${seconds < 10 ? `0${seconds }`  : seconds }`);
        }

        // 시계호출
        function realTime() {
            clock();
        }

        // 1분마다 새로고침
        function AutoStart() {
            // reload.location(); 현재페이지 새로고침
            setInterval(clock, 60000);
            setInterval(dataInfo, 60000);
        }

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/homedata/dataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {


                    // 조명셋팅
					if(res.data.lightData != ''){
						//todo 조명이 하나라도 켜있으면 On 할것
						console.log('lightData Json 데이터 : '+ res.data.lightData.r_data);
						let light = JSON.parse(res.data.lightData.r_data);
						// console.log('내자신');
						// console.log('light 상태 : '+light.rm2lt01);
						// console.log('');
						let lightCheck =false;
						if (light.rm1ls101 =="on")  lightCheck = true
						if (light.rm2ls201 =="on")  lightCheck = true
						if (light.rm2ls202 =="on")  lightCheck = true
						if (light.rm3ls101 =="on")  lightCheck = true
						if (light.rm4ls101 =="on")  listhCheck = true

						var $lightBtn = $('#lightBtn');
						if(lightCheck) {
							$lightBtn.addClass("active")
							$lightBtn.children('.fa-lightbulb').removeClass('fas');
							$lightBtn.children('.fa-lightbulb').addClass('far');
						}else{
							$lightBtn.removeClass("active")
							$lightBtn.children('.fa-lightbulb').addClass('fas');
							$lightBtn.children('.fa-lightbulb').removeClass('far');
						}
					}

                    // 온도셋팅
					if(res.data.temperatureData != '') {
						console.log('temperatureData Json 데이터 : ' + res.data.temperatureData.r_data);
						var temperature = JSON.parse(res.data.temperatureData.r_data);
						let temDataRm1 = '0'; // 거실 온도
						let temDataRm2 = '0'; // 주방 온도
						let temDataRm3 = '0'; // 안방 온도
						let temDataRm4 = '0'; // 운동 온도
						let temDataRm5 = '0'; // 창고 온도
						try {
							temDataRm1 = temperature.rm1mu01; // 거실 온도
							temDataRm2 = temperature.rm2mu01; // 주방 온도
							temDataRm3 = temperature.rm3mu01; // 안방 온도
							temDataRm4 = temperature.rm4mu01; // 운동 온도
							temDataRm5 = temperature.rm5mu01; // 창고 온도
						}catch (e){
							// 에러처리 필요없슴
						}
						if (typeof temDataRm1=='undefined' || temDataRm1==='unavailable'  ||  temDataRm1==="") temDataRm1 = '0';
						if (typeof temDataRm2=='undefined' || temDataRm2==='unavailable'  ||  temDataRm2==="") temDataRm2 = '0';
						if (typeof temDataRm3=='undefined' || temDataRm3==='unavailable'  ||  temDataRm3==="") temDataRm3 = '0';
						if (typeof temDataRm4=='undefined' || temDataRm4==='unavailable'  ||  temDataRm4==="") temDataRm4 = '0';
						if (typeof temDataRm5=='undefined' || temDataRm5==='unavailable'  ||  temDataRm5==="") temDataRm5 = '0';


						tempRefresh('temChart', temDataRm1);
						tempRefresh('temChartRm1', temDataRm1);
						tempRefresh('temChartRm2', temDataRm2);
						tempRefresh('temChartRm3', temDataRm3);
						tempRefresh('temChartRm4', temDataRm4);
						tempRefresh('temChartRm5', temDataRm5);

					}

					if(res.data.humidity != '') {
						// 습도셋팅
						console.log('humidityData Json 데이터 : ' + res.data.humidity.r_data);
						var humidity = JSON.parse(res.data.humidity.r_data);
						console.log('사무실 습도 humidity rm1 상태 : ' + humidity.rm1hu01);
						console.log('회의실 습도 humidity rm2 상태 : ' + humidity.rm2hu01);
						let humDataRm1 = '0'; // 거실 습도
						let humDataRm2 = '0'; // 주방 습도
						let humDataRm3 = '0';// 안방 습도
						let humDataRm4 = '0';// 운동 습도
						let humDataRm5 = '0'; // 창고 습도
						try {
							humDataRm1 = humidity.rm1mu01; // 거실 습도
							humDataRm2 = humidity.rm2mu01; // 주방 습도
							humDataRm3 = humidity.rm3mu01;// 안방 습도
							humDataRm4 = humidity.rm4mu01;// 운동 습도
							humDataRm5 = humidity.rm5mu01; // 창고 습도
						}catch (e){
							// 에러처리 필요없슴
						}
						if (typeof humDataRm1=='undefined' || humDataRm1==='unavailable' || humDataRm1==='') humDataRm1 = '0';
						if (typeof humDataRm2=='undefined' || humDataRm2==='unavailable' || humDataRm2==='') humDataRm2 = '0';
						if (typeof humDataRm3=='undefined' || humDataRm3==='unavailable' || humDataRm3==='') humDataRm3 = '0';
						if (typeof humDataRm4=='undefined' || humDataRm4==='unavailable' || humDataRm4==='') humDataRm4 = '0';
						if (typeof humDataRm5=='undefined' || humDataRm5==='unavailable' || humDataRm5==='') humDataRm5 = '0';

						humRefresh('humChart', humDataRm1);// 거실 습도
						humRefresh('humChartRm1', humDataRm1);// 거실 습도
						humRefresh('humChartRm2', humDataRm2);// 주방 습도
						humRefresh('humChartRm3', humDataRm3);// 안방 습도
						humRefresh('humChartRm4', humDataRm4);// 운동 습도
						humRefresh('humChartRm5', humDataRm5);// 창고 습도
					}

					if(res.data.airquality != '') {
						// 공기질
						console.log('airqualityData Json 데이터 : ' + res.data.airquality.r_data);
						var airquality = JSON.parse(res.data.airquality.r_data);
						let airDataRm1 = '0'; // 거실 공기질(PM10)
						let airDataRm2 = '0'; // 주방 공기질(PM10)
						let airDataRm3 = '0';// 안방 공기질(PM10)

						try {
							airDataRm1 = airquality.rm1pm01pm10; // 거실 공기질(PM10)
							airDataRm2 = airquality.rm2pm01pm10; // 주방 공기질(PM10)
							airDataRm3 = airquality.rm3pm01pm10;// 안방 공기질(PM10)
						}catch (e){
							// 에러처리 필요없슴
						}

						if (typeof airDataRm1=='undefined' || airDataRm1==='unknown') airDataRm1 = '0';
						if (typeof airDataRm2=='undefined' || airDataRm2==='unknown') airDataRm2 = '0';
						if (typeof airDataRm3=='undefined' || airDataRm3==='unknown') airDataRm3 = '0';

						airRefresh('airChart', airDataRm1);// 거실 공기질(PM10)
						airRefresh('airChartRm1', airDataRm1);// 거실 공기질(PM10)
						airRefresh('airChartRm2', airDataRm2);// 주방 공기질(PM10)
						airRefresh('airChartRm3', airDataRm3);// 안방 공기질(PM10)
					}

					if(res.data.airpurification != '') {
						// 공기청정기 셋팅
						console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
						var airpurification = JSON.parse(res.data.airpurification.r_data);
						console.log('airpurification 상태 : ' + airpurification.rm1aq01);
						console.log('');
						var airpurificationPower = airpurification.rm1aq01;
						var $aqBtn = $('#aqBtn');
						if (airpurificationPower === "on") {
							$aqBtn.addClass("active")
						} else {
							$aqBtn.removeClass("active")
						}
					}

					if(res.data.aircondition != '') {
						// 에어컨 셋팅
						console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
						var aircondition = JSON.parse(res.data.aircondition.r_data);
						console.log('aircondition 상태 : ' + aircondition.rm2ac01);

						let airconditionCheck = false
						if (aircondition.rm1ac01 == "cool" || aircondition.rm2ac01 == "dry" ){
							$('#air1').addClass("active");
							airconditionCheck = true;
						} else { $('#air1').removeClass("active");}
						if (aircondition.rm2ac01 == "cool" || aircondition.rm2ac01 == "dry" ){
							$('#air2').addClass("active");
							airconditionCheck = true;
						} else { $('#air2').removeClass("active");}
						if (aircondition.rm3ac01 == "cool" || aircondition.rm3ac01 == "dry" ){
							$('#air3').addClass("active");
							airconditionCheck = true;
						} else { $('#air3').removeClass("active");}

						var $airBtn = $('#airBtn');
						if (airconditionCheck) {
							$airBtn.addClass("active")
						} else {
							$airBtn.removeClass("active")
						}
					}

					if(res.data.weather != '') {
						// 날씨셋팅
						console.log('weather Json 데이터 : ' + res.data.weather.r_data);
						var weather = JSON.parse(res.data.weather.r_data);
						console.log('오늘 날씨 상태 : ' + weather.condition);
						console.log('오늘 날씨 온도 : ' + weather.temperature);
						console.log('오늘 날씨 습도 : ' + weather.humidity);
						console.log('오늘 날씨 풍속 : ' + weather.wind_speed);
						console.log('다음날 날씨 리스트 : ' + weather.forecast)
						console.log('');
						//<img src="/assets/images/weather/sunny.png" alt="" id="nowWeatherIcon" />

						setWeatherIcon('nowWeatherIcon',weather.condition);

						if (weather.condition === "clear-night") $("#nowWeather").text("맑은 ");
						if (weather.condition === "cloudy") $("#nowWeather").text("흐림");
						if (weather.condition === "fog") $("#nowWeather").text("안개");
						if (weather.condition === "hail") $("#nowWeather").text("우박");
						if (weather.condition === "lightning") $("#nowWeather").text("벼락");
						if (weather.condition === "lightning-rainy") $("#nowWeather").text("비,벼락");
						if (weather.condition === "partlycloudy") $("#nowWeather").text("조금흐림");
						if (weather.condition === "pouring") $("#nowWeather").text("폭우");
						if (weather.condition === "rainy") $("#nowWeather").text("비");
						if (weather.condition === "snowy") $("#nowWeather").text("눈");
						if (weather.condition === "snowy-rainy") $("#nowWeather").text("눈,비");
						if (weather.condition === "sunny") $("#nowWeather").text("맑음");
						if (weather.condition === "windy") $("#nowWeather").text("바람");
						if (weather.condition === "windy-variant") $("#nowWeather").text("바람");
						if (weather.condition === "exceptional") $("#nowWeather").text("미확인");

						$("#nowTem").text(Number(weather.temperature).toFixed(0) + "º");
						$("#nowHum").text(Number(weather.humidity).toFixed(0) + "%");
						$("#nowWindSpeed").text(Number(weather.wind_speed).toFixed(1) + "km/h");


						var today = new Date();
						var d = 1;
						for (i = 0; i < 4; i++) {
							today.setDate(today.getDate() + d);
							var day = today.getDay();

							$("#nextDay" + i).text(`${week[day]}`);
							// $("#nextWeatherIcon"+i).text(""); // 아이콘처리
							$("#nextTem" + i).text(weather.forecast[i].temperature.toFixed(0) + "º");
							$("#nextTemLow" + i).text(weather.forecast[i].templow.toFixed(0) + "º");
							setWeatherIcon('nextWeatherIcon'+i,weather.forecast[i].condition);
						}
					}

					if(res.data.doorsensor != '') {
						// 창문 셋팅
						console.log('doorsensor Json 데이터 : ' + res.data.doorsensor.r_data);
						var doorsensor = JSON.parse(res.data.doorsensor.r_data);
						let doorCheckRm1 =false; //거실
						let doorCheckRm2 =false; //주방
						let doorCheckRm3 =false; //안방
						let doorCheckRm4 =false; //운동
						let doorCheckRm5 =false; //창고

						if (doorsensor.rm1dr01 =="on")  doorCheckRm1 = true
						if (doorsensor.rm1dr02 =="on")  doorCheckRm1 = true
						if (doorsensor.rm1dr03 =="on")  doorCheckRm1 = true

						if (doorsensor.rm2dr03 =="on")  doorCheckRm2 = true
						if (doorsensor.rm2dr04 =="on")  doorCheckRm2 = true
						if (doorsensor.rm2dr05 =="on")  doorCheckRm2 = true
						if (doorsensor.rm2dr06 =="on")  doorCheckRm2 = true
						if (doorsensor.rm2dr07 =="on")  doorCheckRm2 = true

						if (doorsensor.rm3dr01 =="on")  doorCheckRm3 = true
						if (doorsensor.rm3dr02 =="on")  doorCheckRm3 = true
						if (doorsensor.rm3dr03 =="on")  doorCheckRm3 = true

						if (doorsensor.rm4dr01 =="on")  doorCheckRm4 = true
						if (doorsensor.rm4dr02 =="on")  doorCheckRm4 = true
						if (doorsensor.rm4dr03 =="on")  doorCheckRm4 = true

						if (doorsensor.rm5dr01 =="on")  doorCheckRm5 = true
						if (doorsensor.rm5dr02 =="on")  doorCheckRm5 = true

						if(doorCheckRm1 || doorCheckRm2 || doorCheckRm3 || doorCheckRm4 || doorCheckRm5){
							let doorType= "";
							if(doorCheckRm1) doorType = "거실";
							if(doorCheckRm2) doorType = "주방";
							if(doorCheckRm3) doorType = "안방";
							if(doorCheckRm4) doorType = "운동방";
							if(doorCheckRm5) doorType = "창고방";
							$('#doorStatus').addClass("active")
							$('#doorMessage').text(doorType + " 창문(뒷문)이 열렸습니다.");
						}else{
							$('#doorStatus').removeClass("active")
							$('#doorMessage').text("창문 보안 안전");
						}


					}

					if(res.data.gas != '') {
						// 가스 셋팅
						console.log('gas Json 데이터 : ' + res.data.gas.r_data);
						var gas = JSON.parse(res.data.gas.r_data);
						console.log('gas 상태 : ' + gas.rm2ga01);
						console.log('');

						let checkGas = false;
						if (gas.rm2ga01 === "detected") checkGas = true;
						var $gas = $('#gas');
						if (checkGas) {
							$gas.addClass("active")
						} else {
							$gas.removeClass("active")
						}
					}

					if(res.data.smoke != '') {
						// 화재 셋팅
						console.log('smoke Json 데이터 : ' + res.data.smoke.r_data);
						var smoke = JSON.parse(res.data.smoke.r_data);
						console.log('smoke 상태 : ' + smoke.rm1sm01);
						console.log('');

						let checkSmoke = false;
						if (smoke.rm1sm01 === "detected") checkSmoke = true;
						if (smoke.rm2sm01 === "detected") checkSmoke = true;
						if (smoke.rm3sm01 === "detected") checkSmoke = true;
						if (smoke.rm4sm01 === "detected") checkSmoke = true;
						if (smoke.rm5sm01 === "detected") checkSmoke = true;

						var $smoke = $('#smoke');
						if (checkSmoke){
							$smoke.addClass("active");
						}else{
							$smoke.removeClass("active");
						}
					}


                }
            });setWeatherIcon
        }
        //날씨아이콘 바꾸는 함수
		function setWeatherIcon(elimentId,weatherType){

			$("#"+ elimentId).attr("src", "/assets/images/weather/"+ weatherType +".png");
		}

        // 온도표기해주는 함수
        function tempRefresh(elimentId,value) {
            console.log('받은 온도 : '+value);

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 48,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '°C'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
			var $tempMessage = $('#'+elimentId+'Message');
            if (value > 27) {
				$tempColor.addClass('red').removeClass('blue');
				$tempMessage.text('실내 온도가 덥습니다.');
            } else if (value < 18) {
				$tempColor.addClass('blue').removeClass('red');
				$tempMessage.text('실내 온도가 춥습니다.');
            } else {
				$tempColor.removeClass('blue').removeClass('red');
				$tempMessage.text('적정 실내 온도입니다.');
            }
        }

        //습도 표기해주는 함수
		function humRefresh(elimentId,value) {

			// 값은 받아오나, 텍스트를 리프레쉬할수없음.
			const cp = new CircleProgress('#'+elimentId, {
				max: 100,
				value: value,
				animationDuration: 400,
				textFormat: (value) => value + '%'
			});
			cp.value = value;

			var $tempColor = $('#'+elimentId+'Color');
			var $tempMessage = $('#'+elimentId+'Message');
			if (value > 60) {
				$tempColor.addClass('red').removeClass('blue');
				$tempMessage.text('실내가 습합니다.');
				if (value>=80) $tempMessage.text('실내가 매우 습합니다.');
			} else if (value < 40) {
				$tempColor.addClass('blue').removeClass('red');
				$tempMessage.text('실내가 건조합니다.');
				if (value<30) $tempMessage.text('실내가 매우 건조합니다.');
			} else {
				$tempColor.removeClass('blue').removeClass('red');
				$tempMessage.text('적정 실내습도입니다.');
			}
		}

		//공기 표기해주는 함수
		function airRefresh(elimentId,value) {

			// 값은 받아오나, 텍스트를 질리프레쉬할수없음.
			const cp = new CircleProgress('#'+elimentId, {
				max: 60,
				value: value,
				animationDuration: 400,
				textFormat: (value) => value + '㎍/㎥'
			});
			cp.value = value;

			var $tempColor = $('#'+elimentId+'Color');
			var $tempMessage = $('#'+elimentId+'Message');
			var $tempState = $('#'+elimentId+'State');
			if (value <= 15) {
				$tempColor.addClass('blue').removeClass('red');
				$tempMessage.text('');
				$tempState.text('좋음');

			} else if (value <= 35) {
				$tempColor.removeClass('blue').removeClass('red');
				$tempMessage.text('');
				$tempState.text('보통');

			} else {
				$tempColor.addClass('red').removeClass('blue');
				$tempMessage.text('공기청정기를 ON 해주세요.');
				$tempState.text('나쁨');

			}
		}

        // 상단 버튼 함수들 ( 조명버튼, 공기청정기버튼, 문열기버튼, 전원장치버튼)
        function integratedFun(name,value) {
            // console.log("name : "+name);
            // console.log("value : "+value);
            var params = {
                value: value
            };
            if(name==="light"){
                $.ajax({
                    url: '/homedata/lightOnOff',
                    type: 'post',
                    data: params,
                    cache: false
                });
            }else if(name==="aq"){
                $.ajax({
                    url: '/homedata/aqOnOff',
                    type: 'post',
                    data: params,
                    cache: false
                });
            }else if(name==="air"){
                $.ajax({
                    url: '/homedata/airOnOff',
                    type: 'post',
                    data: params,
                    cache: false
                });
            }else if(name==="air1"){
				$.ajax({
					url: '/homedata/air1OnOff',
					type: 'post',
					data: params,
					cache: false
				});
			}else if(name==="air2"){
				$.ajax({
					url: '/homedata/air2OnOff',
					type: 'post',
					data: params,
					cache: false
				});
			}else if(name==="air3"){
				$.ajax({
					url: '/homedata/air3OnOff',
					type: 'post',
					data: params,
					cache: false
				});
			}else{
                alert("알 수 없는 명령");
                console.log("알 수 없는 명령")
            }
        }



    </script>
</head>
<body>
<audio id="secure01" src='/assets/record/secure01.mp3' controls  muted style="display: none" ></audio>
<audio id="gas01" src='/assets/record/gas01.mp3' controls  muted style="display: none"></audio>
<audio id="smoke01" src='/assets/record/smoke01.mp3' controls muted style="display: none"></audio>
<audio id="leave02" src='/assets/record/leave02.mp3' controls muted style="display: none"></audio>
<audio id="welcome01" src='/assets/record/welcome.mp3' controls style="display: none"></audio>
<div class="wrap">
	<div class="dashboard">
		<div class="console">
	        <div class="infobox">
	            <div class="infobox__inner">
	                <div class="info">
	                    <div class="date"><span id="clockDate"></span><span id="week"></span></div>
	                    <div class="time"><span id="clockTime"></span><span id="ampm"></span></div>
	                </div>
	                <div class="weather">
	                	<div class="location">대전시 유성구</div>
	                    <div class="temperature">
	                        <div class="temperature__current">
		                        <span id="nowTem">38º</span>
		                        <span id="nowWeather">맑음</span>
	                        </div>
	                        <div class="weather__etc">
	                            <div class="weather__humidity">습도<span id="nowHum">40%</span></div>
	                            <div class="weather__wind">풍속<span id="nowWindSpeed">20.20km/h</span></div>
	                        </div>
	                    </div>
	                    <div class="weather__icon">
	                    	<img src="/assets/images/weather/sunny.png" alt="" id="nowWeatherIcon" />
	                    </div>
	                    <div class="weekly">
	                        <ul>
	                            <li>
	                                <div class="weekly-weather">
	                                    <div id="nextDay0" class="weekly-day">금요일</div>
	                                    <div class="weelky-temp">
	                                        <span class="low" id="nextTemLow0"></span> / 
	                                        <span class="high" id="nextTem0"></span>
	                                    </div>
	                                    <div class="weekly-icon">
	                                    	<img src="/assets/images/weather/sunny.png" alt="" id="nextWeatherIcon0" />
	                                    </div>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="weekly-weather">
	                                    <div id="nextDay1" class="weekly-day">토요일</div>
	                                    <div class="weelky-temp">
	                                        <span class="low" id="nextTemLow1"></span> / 
	                                    	<span class="high" id="nextTem1"></span>
	                                    </div>
	                                    <div class="weekly-icon">
	                                    	<img src="/assets/images/weather/sunny.png" alt="" id="nextWeatherIcon1" />
	                                    </div>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="weekly-weather">
	                                    <div id="nextDay2" class="weekly-day">일요일</div>
	                                    <div class="weelky-temp">
	                                    	<span class="low" id="nextTemLow2"></span> / 
	                                   		<span class="high" id="nextTem2"></span>
	                                    </div>
	                                    <div class="weekly-icon">
	                                    	<img src="/assets/images/weather/sunny.png" alt="" id="nextWeatherIcon2" />
	                                    </div>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="weekly-weather">
	                                    <div id="nextDay3" class="weekly-day">월요일</div>
	                                    <div class="weelky-temp">
	                                    	<span class="low" id="nextTemLow3"></span> / 
	                                    	<span class="high" id="nextTem3"></span>
	                                    </div>
	                                    <div class="weekly-icon">
	                                    	<img src="/assets/images/weather/sunny.png" alt="" id="nextWeatherIcon3" />
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="buttons">
	            <ul>
	                <li><button id="outBtn" class="point-button exit"><img src="/assets/images/icon_out.png" alt="" />퇴실</button></li>
	                <li><button id="openDoorBtn" class="point-button open"><img src="/assets/images/icon_open.png" alt="" />문열림</button></li>
	            </ul>
	        </div>
	    </div>
	    
	    <div class="contents">
	    	<h3 class="contents-title">SMART HOME - 장방 경로당</h3>
	        <div class="button-list">
	            <ul>
	                <li>
	                    <!-- 개별에어컨 제어 추가로 수정 -->
	                    <button id="airBtn" class="console-button front aircon">에어컨<span>ON</span></button>
	                    <button id="airBtnSub" class="console-button rear"><img src="/assets/images/btn_setting.png" alt="에어컨 선택" /></button>
	                    <div class="context">
	                        <div class="context-pop">
	                            <h4 class="context-title">개별 에어컨 제어</h4>
	                            <ul>
	                                <li><button id="air1" class="console-button aircon">거실<span>ON</span></button></li>
	                                <li><button id="air2" class="console-button aircon">주방<span>ON</span></button></li>
	                                <li><button id="air3" class="console-button aircon">안방<span>ON</span></button></li>
	                            </ul>
	                            <a href="#" class="context-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	                        </div>
	                    </div>
	                </li>
	                <li>
	                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
	                </li>
	                <li>
	                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
	                </li>
	            </ul>
	        </div>
	        <div class="card-list">
	            <ul>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link sensor-card sensor-card--temp">
	                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도" />온도</h3>
	                            <div id="temChartColor" class="temp">
	                                <div id="temChart" class="progress temp-progress"></div>
	                            </div>
	                            <span class="card-comment" id="temChartMessage">적정 실내 온도입니다.</span>
	                        </a>
	                    </div>
	                </li>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link sensor-card sensor-card--humidity">
	                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도" />습도</h3>
	                            <div id="humChartColor" class="humidity">
	                                <div id="humChart" class="progress humidity-progress"></div>
	                            </div>
	                            <span class="card-comment" id="humChartMessage">적정 실내 습도입니다.</span>
	                        </a>
	                    </div>
	                </li>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link sensor-card sensor-card--air">
	                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질" />공기질</h3>
								<div class="air" id="airChartColor">
									<div class="progress air-progress" id="airChart" ></div>
									<div class="air__state" id="airChartState"></div>
								</div>
								<span class="card-comment" id="airChartMessage">공기청정기를 ON 해주세요</span>

	                        </a>
	                    </div>
	                </li>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link">
	                            <div id="doorStatus" class="homestate door">
	                            	<h3 class="card-title">창문</h3>
	                                <div class="card-icon card-icon--door"></div>
	                                <span class="card-comment" id="doorMessage">아이콘 이미지 교체 필요</span>
	                            </div>
	                        </a>
	                    </div>
	                </li>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link">
	                            <div id="gas" class="homestate gas">
	                            	<h3 class="card-title">가스</h3>
	                                <div class="card-icon card-icon--gas"></div>
	                                <span class="card-comment" id="gasrMessage">가스 상태 안전</span>
	                            </div>
	                        </a>
	                    </div>
	                </li>
	                <li class="card">
	                    <div class="card-inner">
	                        <a href="#" class="card-link">
	                            <div id="smoke" class="homestate fire">
	                            	<h3 class="card-title">화재</h3>
	                                <div class="card-icon card-icon--fire"></div>
	                                <span class="card-comment" id="fireMessage">화재 위험 안전</span>
	                            </div>
	                        </a>
	                    </div>
	                </li>
	            </ul>
	        </div>
	        
	        <div class="audio-pop">
	        	<div class="audio-pop_box">
	        		<div id="audioCheck">
		        		<i class="fas fa-volume-up"></i>
		        		<i class="fas fa-hand-point-up"></i>
		        		<div class="click"></div>
		        		<p>음성 메시지를 활성화 합니다.<br />음성아이콘을 터치해주세요.</p>
	        		</div>
	        	</div>
	        </div>

	<!--        <a href="#" onclick="warning();" class="ex-button" style="position: absolute;right: 20px;bottom: 20px;border: 1px solid #222;padding: 20px;font-size: 24px;color: #222;">경고메시지 예제</a>-->
	        <div id="alertarea" class="alert">
	            <div class="alert-pop">
	                <div class="alert-pop__icon"><img src="/assets/images/img_icon_error.png" alt="" /></div>
	                <div class="alert-pop__text"><span id="alertmsg">창문이 열려 있습니다.</span></div>
	                <a href="#" class="alert-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	            </div>
	        </div>
	        
	        <!-- 온도 -->
	        <div class="sensor-pop sensor-pop--temp">
	        	<div class="sensor-pop__box">
	        		<div class="card-list">
			            <ul>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">거실</h3>
			                            <div id="temChartRm1Color" class="temp">
											<div id="temChartRm1" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="temChartRm1Message">적정 실내 온도입니다.</span>
			                        </a>
			                        <!-- 서브페이지에서는 온도 하나하나를 클릭해도 이동 없음. 그러니 .card-link a태그에서 href 지워주세요 -->
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">주방</h3>
			                            <div id="temChartRm2Color" class="temp">
											<div id="temChartRm2" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="temChartRm2Message">적정 실내 온도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">안방</h3>
			                            <div id="temChartRm3Color" class="temp">
											<div id="temChartRm3" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="temChartRm3Message">적정 실내 온도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">운동방</h3>
										<div id="temChartRm4Color" class="temp">
											<div id="temChartRm4" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="temChartRm4Message">적정 실내 온도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">창고방</h3>
										<div id="temChartRm5Color" class="temp">
											<div id="temChartRm5" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="temChartRm5Message">적정 실내 온도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			            </ul>
			        </div>
	        		
	        		<a href="#" class="sensor-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	        	</div>
	        </div>
	        
	        <!-- 습도 -->
	        <div class="sensor-pop sensor-pop--humidity">
	        	<div class="sensor-pop__box">
	        		<div class="card-list">
			            <ul>
			            	<li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">거실</h3>
			                            <div id ="humChartRm1Color" class="humidity">
											<div id="humChartRm1" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="humChartRm1Message">적정 실내 습도입니다.</span>
			                        </a>
			                        <!-- 서브페이지에서는 온도 하나하나를 클릭해도 이동 없음. 그러니 .card-link a태그에서 href 지워주세요 -->
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">주방</h3>
										<div id ="humChartRm2Color" class="humidity">
											<div id="humChartRm2" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="humChartRm2Message">적정 실내 습도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">안방</h3>
										<div id ="humChartRm3Color" class="humidity">
											<div id="humChartRm3" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="humChartRm3Message">적정 실내 습도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">운동방</h3>
										<div id ="humChartRm4Color" class="humidity">
											<div id="humChartRm4" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="humChartRm4Message">적정 실내 습도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a class="card-link">
			                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">창고방</h3>
										<div id ="humChartRm5Color" class="humidity">
											<div id="humChartRm5" class="progress temp-progress"></div>
			                            </div>
			                            <span class="card-comment" id="humChartRm5Message">적정 실내 습도입니다.</span>
			                        </a>
			                    </div>
			                </li>
			            </ul>
			        </div>
	        		
	        		<a href="#" class="sensor-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	        	</div>
	        </div>
	        
	        <!-- 공기질 -->
	        <div class="sensor-pop sensor-pop--air">
	        	<div class="sensor-pop__box">
	        		<div class="card-list">
			            <ul>
			            	<li class="card">
			                    <div class="card-inner">
			                        <a href="#" class="card-link sensor-card sensor-card--air">
			                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">거실</h3>
										<div id ="airChartRm1Color" class="air">
											<div id="airChartRm1" class="progress air-progress"></div>
											<div class="air__state" id="airChartRm1State"></div>
										</div>
			                            <span class="card-comment" id="airChartRm1Message">공기청정기를 ON 해주세요.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a href="#" class="card-link sensor-card sensor-card--air">
			                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">주방</h3>
										<div id ="airChartRm2Color" class="air">
											<div id="airChartRm2" class="progress air-progress"></div>
											<div class="air__state" id="airChartRm2State"></div>
										</div>
										<span class="card-comment" id="airChartRm2Message">공기청정기를 ON 해주세요.</span>
			                        </a>
			                    </div>
			                </li>
			                <li class="card">
			                    <div class="card-inner">
			                        <a href="#" class="card-link sensor-card sensor-card--air">
			                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">안방</h3>
										<div id ="airChartRm3Color" class="air">
											<div id="airChartRm3" class="progress air-progress"></div>
											<div class="air__state" id="airChartRm3State"></div>
										</div>
										<span class="card-comment" id="airChartRm3Message">공기청정기를 ON 해주세요.</span>
									</a>
			                    </div>
			                </li>

			            </ul>
			        </div>
	        		
	        		<a href="#" class="sensor-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	        	</div>
	        </div>
	    
	    	<!-- 퇴실 팝업 -->
	    	<div class="alert" id="exitPop">
	    		<div class="pop-exit">

	    			<div class="pop-exit__text" ><span class="place" id="place">안방 창문(뒷문)이 열려있습니다.</span> <br />퇴실하시겠습니까?</div>
					<p class="pop-exit__text">약 30분 후 가전, 조명,전기가 차단됩니다.</p>
	    			<ul>
	    				<li><button class="exit-btn" id="outGoExec">퇴실하기</button></li>
	    				<li><button class="exit-btn exit-btn--cancel">취소하기</button></li>
	    			</ul>
	    			<a href="#" class="alert-pop__close"><img src="/assets/images/btn_x@2x.png" alt="" /></a>
	    		</div>
	    	</div>
	    </div>
	    
	</div>
</div>
</body>
</html>
