<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">
<head>
    <script type="text/javascript">
        $(function(){
            realTime();
            AutoStart();
            curveGraph();
            dataInfo();
            $("#humChartLoading").show();
        });
        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {
                    // 에어컨셋팅
                    if(res.data.aircondition !== '') {
                        airconditionCheck(res.data.aircondition.r_data);
                    }

                    // 조명셋팅
                    if(res.data.lightData !== ''){
                        lightCheck(res.data.lightData.r_data)
                    }

                    // 공기청정기셋팅
                    if(res.data.airpurification !== '') {
                        airpurificationCheck(res.data.airpurification.r_data);
                    }

                    // 가전전원셋팅
                    if(res.data.electricDate !== ''){
                        electricCheck(res.data.electricDate.r_data);
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');
                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            if(value!=="" && batteryLowValue>Number(value)){
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }
                }
            });
        }

        var humChart=null;
        function curveGraph() {
            $.ajax({
                url: '/chart/humhistory',
                type: 'post',
                cache: false,
                error: function () {
                    // alert("데이터부르기 실패")
                },
                success: function (res) {
                    var humidity;
                    var hum = []; // 습도 히스토리
                    var timeStamp = []; // 시간 히스토리
                    var $room = $("#room").val();
                    console.log("$room : "+$room);
                    var label;
                    if($room === "SS021mu01"){
                        label = "거실 습도 그래프(%)";
                    }else if($room === "SS022mu01"){
                        label = "주방 습도 그래프(%)";
                    }else if($room === "SS023mu01"){
                        label = "안방 습도 그래프(%)";
                    }else if($room === "SS024mu01"){
                        label = "운동방 습도 그래프(%)";
                    }else{
                        label = "창고방 습도 그래프(%)";
                    }
                    $.each(res.data.datarow, function (key, value) {
                        humidity = value.sensordata[$room];
                        timeStamp.push(parseInt(value.timestamp));
                        hum.push(humidity);
                    });
                    // console.log("timeStamp : "+timeStamp);
                    // console.log("temp : "+temp);
                    var ctx = document.getElementById('humChart').getContext("2d");
                    var chartData = {
                        labels: timeStamp,
                        datasets: [{
                            label: label,
                            yAxisID: 'hum',
                            backgroundColor: "#0179cd",
                            borderWidth: 3,
                            borderColor: "#0179cd",
                            data: hum,
                            fill: false
                        }]
                    };

                    humChart = new Chart(ctx, {
                        type: 'line',
                        data: chartData,
                        options: {
                            elements: {
                                point:{
                                    radius: 0
                                }
                            },
                            legend:{
                                posiont:'top',
                                labels: {
                                    fontColor: '#000000',
                                    fontSize: 20
                                }
                            },
                            maintainAspectRatio: false,
                            stacked : true,
                            tooltips: { //팁(모드설정)
                                titleFontSize: 15,
                                bodyFontSize: 15,
                                caretPadding: 10,
                                borderWidth:3,
                                borderColor : 'rgb(138,109,255)',
                                mode: 'index',
                                intersect: false,
                                caretSize:0
                            },
                            hover: { //점 나오기
                                mode: 'index',
                                intersect: false
                            },
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        drawOnChartArea: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: '시간',
                                        fontSize: 15
                                    },
                                    display: true,
                                    time: {
                                        unit: 'hour',
                                        tooltipFormat: 'YYYY' + '년' + 'MM' + '월' + 'DD' + '일 ' + 'HH:mm:ss a',
                                    },
                                    type: 'time',
                                    ticks: {
                                        fontSize: 15
                                    },
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: '습도(%)',
                                        fontSize: 15
                                    },
                                    ticks: {
                                        fontSize: 20
                                    },
                                    id: 'hum',
                                    display: true,
                                    position: 'left',
                                }]
                            }
                        }
                    });
                    $("#humChartLoading").hide();
                }
            });
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode
                <form th:action="@{/logout}" method="post" id="logout">
                    <ul>
                        <li><a onclick="document.getElementById('logout').submit();" style="cursor:pointer" class="up-icon"><img src="/assets/images/icon_logout.png" alt=""/></a></li>
                        <li><a href="/admindashboard/system" class="up-icon"><img src="/assets/images/btn_setting.png" alt=""/></a></li>
                        <li><a id="passwordchange" href="#" class="up-icon"><img src="/assets/images/icon_password.png" alt=""/></a></li>
                    </ul>
                </form>
            </h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn" class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
                <li><a href="/admindashboard/">HOME</a></li>
                <li><a href="/admindashboard/humidity" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>
        <input type="hidden" id="room" th:value="${room}" />
        <div class="chart">
            <div class="c-loader">
                <div id="humChartLoading" class="c-loader__active c-loader__active--ring2"></div>
                <canvas id='humChart'></canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>