<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            realTime();
            AutoStart();

            // 30%이하만 표시 배터리체크
            $("#battery-check").on('click',function () {
                lowBatteryInit();
            });

        });

        function lowBatteryInit() {
            var chk = document.getElementById("battery-check").checked;
            var parent = $(".battery-item").parent();
            if(chk){
                $(".battery-item2").css('background-color','rgb(255 119 119)').css('color','white');
                parent.css('display','none');
            }else{
                $(".battery-item2").css('background-color','white').css('color','black')
                parent.css('display','block');
            }
        }

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/adminhomedata/adminMenuDataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    if (res.data.lightData !== '') {
                        //todo 조명이 하나라도 켜있으면 On 할것
                        console.log('lightData Json 데이터 : ' + res.data.lightData);
                        let light = JSON.parse(res.data.lightData.r_data);
                        let lightCheck =false;
                        if (light.rm1ls101 ==="on")  lightCheck = true
                        if (light.rm2ls201 ==="on")  lightCheck = true
                        if (light.rm2ls202 ==="on")  lightCheck = true
                        if (light.rm3ls101 ==="on")  lightCheck = true
                        if (light.rm4ls101 ==="on")  listhCheck = true

                        var $lightBtn = $('#lightBtn');
                        if(lightCheck) {
                            $lightBtn.addClass("active")
                            $lightBtn.children('.fa-lightbulb').removeClass('fas');
                            $lightBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $lightBtn.removeClass("active")
                            $lightBtn.children('.fa-lightbulb').addClass('fas');
                            $lightBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    if(res.data.airpurification !== '') {
                        // 공기청정기 셋팅
                        console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
                        var airpurification = JSON.parse(res.data.airpurification.r_data);
                        console.log('airpurification 상태 : ' + airpurification.rm1aq01);
                        console.log('');
                        var airpurificationPower = airpurification.rm1aq01;
                        var $aqBtn = $('#aqBtn');
                        if (airpurificationPower === "on") {
                            $aqBtn.addClass("active")
                        } else {
                            $aqBtn.removeClass("active")
                        }
                    }

                    if(res.data.aircondition !== '') {
                        // 에어컨 셋팅
                        console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
                        var aircondition = JSON.parse(res.data.aircondition.r_data);
                        console.log('aircondition 상태 : ' + aircondition.rm2ac01);

                        let airconditionCheck = false
                        if (aircondition.rm1ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air1').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air1').removeClass("active");}
                        if (aircondition.rm2ac01 === "cool" || aircondition.rm2ac01 === "dry" ){
                            $('#air2').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air2').removeClass("active");}
                        if (aircondition.rm3ac01 === "cool" || aircondition.rm3ac01 === "dry" ){
                            $('#air3').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air3').removeClass("active");}

                        var $airBtn = $('#airBtn');
                        if (airconditionCheck) {
                            $airBtn.addClass("active")
                        } else {
                            $airBtn.removeClass("active")
                        }
                    }

                    var $rm1 = $('#rm1');
                    var $rm2 = $('#rm2');
                    var $rm3 = $('#rm3');
                    var $rm4 = $('#rm4')
                    var $rm5 = $('#rm5');

                    var html1 = '';
                    var html2 = '';
                    var html3 = '';
                    var html4 = '';
                    var html5 = '';
                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        var sernserNmae;
                        $.each(battery,function(key, value){
                            // console.log('키 : '+key + ', 값 :' + value);
                            if(key.startsWith('rm1')===true){
                                // console.log('key : '+key);
                                if(key.indexOf("mu") !== -1){
                                    sernserNmae = "복합센서"+key.substr(key.length-2,key.length);
                                    console.log('mu : '+key);
                                    html1 += '<li>'
                                    if(Number(value)>=30){
                                        html1 += '<div class="battery-item">'
                                    }else{
                                        html1 += '<div class="battery-item2">'
                                    }
                                    html1 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html1 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html1 += '</div>'
                                    html1 += '</li>'
                                }else if(key.indexOf("dl") !== -1){
                                    console.log('dl : '+key);
                                    sernserNmae = "도어락"+key.substr(key.length-2,key.length);
                                    html1 += '<li>'
                                    if(Number(value)>=30){
                                        html1 += '<div class="battery-item">'
                                    }else{
                                        html1 += '<div class="battery-item2">'
                                    }
                                    html1 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html1 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html1 += '</div>'
                                    html1 += '</li>'
                                }else if(key.indexOf("dr") !== -1){
                                    console.log('dr : '+key);
                                    sernserNmae = "문열림센서"+key.substr(key.length-2,key.length);
                                    html1 += '<li>'
                                    if(Number(value)>=30){
                                        html1 += '<div class="battery-item">'
                                    }else{
                                        html1 += '<div class="battery-item2">'
                                    }
                                    html1 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html1 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html1 += '</div>'
                                    html1 += '</li>'
                                }else if(key.indexOf("sm") !== -1){
                                    console.log('sm : '+key);
                                    sernserNmae = "연기감지센서"+key.substr(key.length-2,key.length);
                                    html1 += '<li>'
                                    if(Number(value)>=30){
                                        html1 += '<div class="battery-item">'
                                    }else{
                                        html1 += '<div class="battery-item2">'
                                    }
                                    html1 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html1 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html1 += '</div>'
                                    html1 += '</li>'
                                }
                            }else if(key.startsWith('rm2')===true){
                                if(key.indexOf("mu") !== -1){
                                    sernserNmae = "복합센서"+key.substr(key.length-2,key.length);
                                    console.log('mu : '+key);
                                    html2 += '<li>'
                                    if(Number(value)>=30){
                                        html2 += '<div class="battery-item">'
                                    }else{
                                        html2 += '<div class="battery-item2">'
                                    }
                                    html2 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html2 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html2 += '</div>'
                                    html2 += '</li>'
                                }else if(key.indexOf("dl") !== -1){
                                    console.log('dl : '+key);
                                    sernserNmae = "도어락"+key.substr(key.length-2,key.length);
                                    html2 += '<li>'
                                    if(Number(value)>=30){
                                        html2 += '<div class="battery-item">'
                                    }else{
                                        html2 += '<div class="battery-item2">'
                                    }
                                    html2 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html2 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html2 += '</div>'
                                    html2 += '</li>'
                                }else if(key.indexOf("dr") !== -1){
                                    console.log('dr : '+key);
                                    sernserNmae = "문열림센서"+key.substr(key.length-2,key.length);
                                    html2 += '<li>'
                                    if(Number(value)>=30){
                                        html2 += '<div class="battery-item">'
                                    }else{
                                        html2 += '<div class="battery-item2">'
                                    }
                                    html2 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html2 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html2 += '</div>'
                                    html2 += '</li>'
                                }else if(key.indexOf("sm") !== -1){
                                    console.log('sm : '+key);
                                    sernserNmae = "연기감지센서"+key.substr(key.length-2,key.length);
                                    html2 += '<li>'
                                    if(Number(value)>=30){
                                        html2 += '<div class="battery-item">'
                                    }else{
                                        html2 += '<div class="battery-item2">'
                                    }
                                    html2 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html2 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html2 += '</div>'
                                    html2 += '</li>'
                                }
                            }else if(key.startsWith('rm3')===true){
                                if(key.indexOf("mu") !== -1){
                                    sernserNmae = "복합센서"+key.substr(key.length-2,key.length);
                                    console.log('mu : '+key);
                                    html3 += '<li>'
                                    if(Number(value)>=30){
                                        html3 += '<div class="battery-item">'
                                    }else{
                                        html3 += '<div class="battery-item2">'
                                    }
                                    html3 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html3 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html3 += '</div>'
                                    html3 += '</li>'
                                }else if(key.indexOf("dl") !== -1){
                                    console.log('dl : '+key);
                                    sernserNmae = "도어락"+key.substr(key.length-2,key.length);
                                    html3 += '<li>'
                                    if(Number(value)>=30){
                                        html3 += '<div class="battery-item">'
                                    }else{
                                        html3 += '<div class="battery-item2">'
                                    }
                                    html3 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html3 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html3 += '</div>'
                                    html3 += '</li>'
                                }else if(key.indexOf("dr") !== -1){
                                    console.log('dr : '+key);
                                    sernserNmae = "문열림센서"+key.substr(key.length-2,key.length);
                                    html3 += '<li>'
                                    if(Number(value)>=30){
                                        html3 += '<div class="battery-item">'
                                    }else{
                                        html3 += '<div class="battery-item2">'
                                    }
                                    html3 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html3 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html3 += '</div>'
                                    html3 += '</li>'
                                }else if(key.indexOf("sm") !== -1){
                                    console.log('sm : '+key);
                                    sernserNmae = "연기감지센서"+key.substr(key.length-2,key.length);
                                    html3 += '<li>'
                                    if(Number(value)>=30){
                                        html3 += '<div class="battery-item">'
                                    }else{
                                        html3 += '<div class="battery-item2">'
                                    }
                                    html3 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html3 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html3 += '</div>'
                                    html3 += '</li>'
                                }
                            }else if(key.startsWith('rm4')===true){
                                if(key.indexOf("mu") !== -1){
                                    sernserNmae = "복합센서"+key.substr(key.length-2,key.length);
                                    console.log('mu : '+key);
                                    html4 += '<li>'
                                    if(Number(value)>=30){
                                        html4 += '<div class="battery-item">'
                                    }else{
                                        html4 += '<div class="battery-item2">'
                                    }
                                    html4 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html4 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html4 += '</div>'
                                    html4 += '</li>'
                                }else if(key.indexOf("dl") !== -1){
                                    console.log('dl : '+key);
                                    sernserNmae = "도어락"+key.substr(key.length-2,key.length);
                                    html4 += '<li>'
                                    if(Number(value)>=30){
                                        html4 += '<div class="battery-item">'
                                    }else{
                                        html4 += '<div class="battery-item2">'
                                    }
                                    html4 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html4 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html4 += '</div>'
                                    html4 += '</li>'
                                }else if(key.indexOf("dr") !== -1){
                                    console.log('dr : '+key);
                                    sernserNmae = "문열림센서"+key.substr(key.length-2,key.length);
                                    html4 += '<li>'
                                    if(Number(value)>=30){
                                        html4 += '<div class="battery-item">'
                                    }else{
                                        html4 += '<div class="battery-item2">'
                                    }
                                    html4 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html4 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html4 += '</div>'
                                    html4 += '</li>'
                                }else if(key.indexOf("sm") !== -1){
                                    console.log('sm : '+key);
                                    sernserNmae = "연기감지센서"+key.substr(key.length-2,key.length);
                                    html4 += '<li>'
                                    if(Number(value)>=30){
                                        html4 += '<div class="battery-item">'
                                    }else{
                                        html4 += '<div class="battery-item2">'
                                    }
                                    html4 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html4 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html4 += '</div>'
                                    html4 += '</li>'
                                }
                            }else if(key.startsWith('rm5')===true){
                                if(key.indexOf("mu") !== -1){
                                    sernserNmae = "복합센서"+key.substr(key.length-2,key.length);
                                    console.log('mu : '+key);
                                    html5 += '<li>'
                                    if(Number(value)>=30){
                                        html5 += '<div class="battery-item">'
                                    }else{
                                        html5 += '<div class="battery-item2">'
                                    }
                                    html5 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html5 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html5 += '</div>'
                                    html5 += '</li>'
                                }else if(key.indexOf("dl") !== -1){
                                    console.log('dl : '+key);
                                    sernserNmae = "도어락"+key.substr(key.length-2,key.length);
                                    html5 += '<li>'
                                    if(Number(value)>=30){
                                        html5 += '<div class="battery-item">'
                                    }else{
                                        html5 += '<div class="battery-item2">'
                                    }
                                    html5 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html5 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html5 += '</div>'
                                    html5 += '</li>'
                                }else if(key.indexOf("dr") !== -1){
                                    console.log('dr : '+key);
                                    sernserNmae = "문열림센서"+key.substr(key.length-2,key.length);
                                    html5 += '<li>'
                                    if(Number(value)>=30){
                                        html5 += '<div class="battery-item">'
                                    }else{
                                        html5 += '<div class="battery-item2">'
                                    }
                                    html5 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html5 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html5 += '</div>'
                                    html5 += '</li>'
                                }else if(key.indexOf("sm") !== -1){
                                    console.log('sm : '+key);
                                    sernserNmae = "연기감지센서"+key.substr(key.length-2,key.length);
                                    html5 += '<li>'
                                    if(Number(value)>=30){
                                        html5 += '<div class="battery-item">'
                                    }else{
                                        html5 += '<div class="battery-item2">'
                                    }
                                    html5 += '<span class="battery-name">' + sernserNmae + '</span>'
                                    html5 += '<span class="battery__percent">' + value+'%' + '</span>'
                                    html5 += '</div>'
                                    html5 += '</li>'
                                }
                            }

                            $rm1.html(html1);
                            $rm2.html(html2);
                            $rm3.html(html3);
                            $rm4.html(html4);
                            $rm5.html(html5);

                            if(value!=="" && batteryLowValue>Number(value)){
                                // console.log('batteryLowValue : '+batteryLowValue + ', value :' + value);
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                        lowBatteryInit();
                    }
                }
            });
        }
        
    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
    	<div class="infobox">
    		<h2 class="info-title">Manager Mode</h2>
    		<div class="datetime">
	    		<span class="date">2021.01.18 월요일</span>
	    		<span class="time">am 10:16</span>
    		</div>
    	</div>
    	<div class="iot-buttons">
    		<h3>IoT 가전제어</h3>
    		<ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
    	</div>
    	<div class="battery">
    		<div class="battery__head">
    			<h3 class="battery_title">배터리</h3>
    			<span class="battery-percent"></span>
    			<a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
    		</div>
    		<div class="battery__contents">
    			<div class="battery__progress">
    				<div class="battery__bar"></div>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="contents">
    	<div class="button-list">
            <!-- 장소별 페이지 버튼 리스트 수정 -->
            <ul>
    			<li><a href="/admindashboard/" class="back"><img src="/assets/images/icon_back.png" alt="" />뒤로가기</a></li>
            </ul>
        </div>
        <div class="battery-wrap">
            <div class="battery-head">
                <h3><img src="/assets/images/icon_battery.png" alt="" />배터리</h3>
                <div class="battery-check">
                    <input type="checkbox" id="battery-check">
                    <label for="battery-check">30% 이하만 표시</label>
                </div>
            </div>
            <div class="battery-contents">
                <div class="battery-section">
                    <div class="battery-inner">
                        <h4 class="battery-title"><img src="/assets/images/icon_battery.png" alt="" />거실</h4>
                        <ul id="rm1">

                        </ul>
                    </div>
                </div>

                <div class="battery-section">
                    <div class="battery-inner">
                        <h4 class="battery-title"><img src="/assets/images/icon_battery.png" alt="" />주방</h4>
                        <ul id="rm2">

                        </ul>
                    </div>
                </div>

                <div class="battery-section">
                    <div class="battery-inner">
                        <h4 class="battery-title"><img src="/assets/images/icon_battery.png" alt="" />안방</h4>
                        <ul id="rm3">

                        </ul>
                    </div>
                </div>

                <div class="battery-section">
                    <div class="battery-inner">
                        <h4 class="battery-title"><img src="/assets/images/icon_battery.png" alt="" />운동방</h4>
                        <ul id="rm4">

                        </ul>
                    </div>
                </div>

                <div class="battery-section">
                    <div class="battery-inner">
                        <h4 class="battery-title"><img src="/assets/images/icon_battery.png" alt="" />창고방</h4>
                        <ul id="rm5">

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>
