<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            realTime();
            AutoStart();

        })

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/homedata/dataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    // 에어컨셋팅
                    if(res.data.aircondition !== '') {
                        airconditionCheck(res.data.aircondition.r_data);
                    }

                    // 조명셋팅
                    if(res.data.lightData !== ''){
                        lightCheck(res.data.lightData.r_data)
                    }

                    // 공기청정기셋팅
                    if(res.data.airpurification !== '') {
                        airpurificationCheck(res.data.airpurification.r_data);
                    }

                    // 가전전원셋팅
                    if(res.data.electricDate !== ''){
                        electricCheck(res.data.electricDate.r_data);
                    }

                    // 온도셋팅
                    if(res.data.temperatureData !== '') {
                        console.log('temperatureData Json 데이터 : ' + res.data.temperatureData.r_data);
                        var temperature = JSON.parse(res.data.temperatureData.r_data);
                        let temDataRm4 = '0'; // 거실 온도
                        try {
                            temDataRm4 = temperature.SS024mu01; // 거실 온도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof temDataRm4=='undefined' || temDataRm4==="unavailable" ||  temDataRm4==="") temDataRm4 = '0';
                        tempRefresh('temChartRm4', temDataRm4);
                    }

                    if(res.data.humidity !== '') {
                        // 습도셋팅
                        console.log('humidityData Json 데이터 : ' + res.data.humidity.r_data);
                        var humidity = JSON.parse(res.data.humidity.r_data);
                        let humDataRm4 = '0'; // 거실 습도
                        try {
                            humDataRm4 = humidity.SS024mu01; // 거실 습도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof humDataRm4=='undefined' || humDataRm4==="unavailable" ||  humDataRm4==="") humDataRm4 = '0';
                        humRefresh('humChartRm4', humDataRm4);// 거실 습도
                    }

                    if(res.data.doorsensor !== '') {
                        // 창문 셋팅
                        console.log('doorsensor Json 데이터 : ' + res.data.doorsensor.r_data);
                        doorDetectData("exercise",res.data.doorsensor.r_data);
                    }

                    if(res.data.smoke !== '') {
                        // 화재 셋팅
                        console.log('smoke Json 데이터 : ' + res.data.smoke.r_data);
                        var smoke = JSON.parse(res.data.smoke.r_data);
                        console.log('');

                        let checkSmoke = false;
                        if (smoke.SS024sm01 === "detected") checkSmoke = true;

                        var $smoke = $('#smoke');
                        if (checkSmoke){
                            $smoke.addClass("active");
                        }else{
                            $smoke.removeClass("active");
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        console.log('battery Json 데이터 : ' + res.data.batteryData.r_data);
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            // console.log('키 : '+key + ', 값 :' + value);
                            if(value!=="" && batteryLowValue>Number(value)){
                                // console.log('batteryLowValue : '+batteryLowValue + ', value :' + value);
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }

                }
            });
        }

        // 온도표기해주는 함수
        function tempRefresh(elimentId,value) {
            console.log('받은 온도 : '+value);

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 48,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '°C'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
            var $tempMessage = $('#'+elimentId+'Message');
            if (value > 27) {
                $tempColor.addClass('red').removeClass('blue');
                $tempMessage.text('실내 온도가 덥습니다.');
            } else if (value < 18) {
                $tempColor.addClass('blue').removeClass('red');
                $tempMessage.text('실내 온도가 춥습니다.');
            } else {
                $tempColor.removeClass('blue').removeClass('red');
                $tempMessage.text('적정 실내 온도입니다.');
            }
        }

        //습도 표기해주는 함수
        function humRefresh(elimentId,value) {

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 100,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '%'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
            var $tempMessage = $('#'+elimentId+'Message');
            if (value > 60) {
                $tempColor.addClass('red').removeClass('blue');
                $tempMessage.text('실내가 습합니다.');
                if (value>=80) $tempMessage.text('실내가 매우 습합니다.');
            } else if (value < 40) {
                $tempColor.addClass('blue').removeClass('red');
                $tempMessage.text('실내가 건조합니다.');
                if (value<30) $tempMessage.text('실내가 매우 건조합니다.');
            } else {
                $tempColor.removeClass('blue').removeClass('red');
                $tempMessage.text('적정 실내습도입니다.');
            }
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode
                <ul>
                    <li><a href="/admindashboard/system" class="up-icon"><img src="/assets/images/btn_setting.png" alt=""/></a></li>
                    <li><a id="passwordchange" href="#" class="up-icon"><img src="/assets/images/icon_password.png" alt=""/></a></li>
                </ul>
            </h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn" class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li><a href="/admindashboard/">HOME</a></li>
                <li><a href="/admindashboard/living">거실</a></li>
                <li><a href="/admindashboard/kitchen">주방</a></li>
                <li><a href="/admindashboard/inner">안방</a></li>
                <li><a href="/admindashboard/exercise" class="exercise active">운동방</a></li>
                <li><a href="/admindashboard/warehouse">창고방</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="/admindashboard/temp/tempdetail/ss024mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">온도</h3>
                            <div id="temChartRm4Color" class="temp">
                                <div id="temChartRm4" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartRm1Message">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/admindashboard/humidity/humdetail/ss024mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">습도</h3>
                            <div id ="humChartRm4Color" class="humidity">
                                <div id="humChartRm4" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm1Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="doorStatus" class="homestate door">
                                <h3 class="card-title">창문</h3>
                                <div class="card-icon card-icon--door"></div>
                                <span class="card-comment" id="doorMessage">창문 보안 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="smoke" class="homestate fire">
                                <h3 class="card-title">화재</h3>
                                <div class="card-icon card-icon--fire"></div>
                                <span class="card-comment" id="fireMessage">화재 위험 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
