<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            realTime();
            AutoStart();
        })

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/homedata/dataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    // 조명셋팅
                    if(res.data.lightData !== ''){
                        //todo 조명이 하나라도 켜있으면 On 할것
                        console.log('lightData Json 데이터 : '+ res.data.lightData.r_data);
                        let light = JSON.parse(res.data.lightData.r_data);
                        // console.log('내자신');
                        // console.log('light 상태 : '+light.SS022lt01);
                        // console.log('');
                        let lightCheck =false;

                        if (light.SS021ls101 === "on")  lightCheck = true
                        if (light.SS022ls201 === "on")  lightCheck = true
                        if (light.SS022ls202 === "on")  lightCheck = true
                        if (light.SS023ls101 === "on")  lightCheck = true
                        if (light.SS024ls101 === "on")  lightCheck = true

                        var $lightBtn = $('#lightBtn');
                        if(lightCheck) {
                            $lightBtn.addClass("active")
                            $lightBtn.children('.fa-lightbulb').removeClass('fas');
                            $lightBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $lightBtn.removeClass("active")
                            $lightBtn.children('.fa-lightbulb').addClass('fas');
                            $lightBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    // 가전전원
                    if(res.data.electricDate !== ''){
                        //todo 전원이 하나라도 켜있으면 On 할것
                        console.log('electricDate Json 데이터 : '+ res.data.electricDate.r_data);
                        let electric = JSON.parse(res.data.electricDate.r_data);
                        let electricCheck = false;
                        if (electric.SS021zc01 ==="on")  electricCheck = true
                        // if (electric.SS022zc01 ==="on")  electricCheck = true
                        // if (electric.SS023zc01 ==="on")  electricCheck = true

                        var $electricBtn = $('#electricBtn');
                        if(electricCheck) {
                            $electricBtn.addClass("active")
                            $electricBtn.children('.fa-lightbulb').removeClass('fas');
                            $electricBtn.children('.fa-lightbulb').addClass('far');
                        }else{
                            $electricBtn.removeClass("active")
                            $electricBtn.children('.fa-lightbulb').addClass('fas');
                            $electricBtn.children('.fa-lightbulb').removeClass('far');
                        }
                    }

                    // 온도셋팅
                    if(res.data.temperatureData !== '') {
                        console.log('temperatureData Json 데이터 : ' + res.data.temperatureData.r_data);
                        var temperature = JSON.parse(res.data.temperatureData.r_data);
                        let temDataRm3 = '0'; // 거실 온도
                        try {
                            temDataRm3 = temperature.SS023mu01; // 거실 온도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof temDataRm3=='undefined' || temDataRm3==="unavailable" ||  temDataRm3==="") temDataRm3 = '0';
                        tempRefresh('temChartRm3', temDataRm3);
                    }

                    if(res.data.humidity !== '') {
                        // 습도셋팅
                        console.log('humidityData Json 데이터 : ' + res.data.humidity.r_data);
                        var humidity = JSON.parse(res.data.humidity.r_data);
                        let humDataRm3 = '0'; // 거실 습도
                        try {
                            humDataRm3 = humidity.SS023mu01; // 거실 습도
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof humDataRm3=='undefined' || humDataRm3==="unavailable" ||  humDataRm3==="") humDataRm3 = '0';
                        humRefresh('humChartRm3', humDataRm3);// 거실 습도
                    }

                    if(res.data.airquality !== '') {
                        // 공기질
                        console.log('airqualityData Json 데이터 : ' + res.data.airquality.r_data);
                        var airquality = JSON.parse(res.data.airquality.r_data);
                        let airDataRm3 = '0';// 안방 공기질(PM10)
                        try {
                            airDataRm3 = airquality.SS023pm01;// 안방 공기질(PM10)
                        }catch (e){
                            // 에러처리 필요없슴
                        }
                        if (typeof airDataRm3=='undefined' || airDataRm3==='unknown') airDataRm3 = '0';
                        airRefresh('airChartRm3', airDataRm3);// 안방 공기질(PM10)
                    }


                    if(res.data.airpurification !== '') {
                        // 공기청정기 셋팅
                        console.log('airpurificationData Json 데이터 : ' + res.data.airpurification.r_data);
                        var airpurification = JSON.parse(res.data.airpurification.r_data);
                        console.log('airpurification 상태 : ' + airpurification.SS021aq01);
                        console.log('');
                        var airpurificationPower = airpurification.SS021aq01;
                        var $aqBtn = $('#aqBtn');
                        if (airpurificationPower === "on") {
                            $aqBtn.addClass("active")
                        } else {
                            $aqBtn.removeClass("active")
                        }
                    }

                    if(res.data.aircondition !== '') {
                        // 에어컨 셋팅
                        console.log('airconditionData Json 데이터 : ' + res.data.aircondition.r_data);
                        var aircondition = JSON.parse(res.data.aircondition.r_data);
                        console.log('aircondition 상태 : ' + aircondition.SS022ac01);

                        let airconditionCheck = false
                        if (aircondition.SS021ac01 === "cool" || aircondition.SS021ac01 === "dry" ){
                            $('#air1').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air1').removeClass("active");}
                        if (aircondition.SS022ac01 === "cool" || aircondition.SS022ac01 === "dry" ){
                            $('#air2').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air2').removeClass("active");}
                        if (aircondition.SS023ac01 === "cool" || aircondition.SS023ac01 === "dry" ){
                            $('#air3').addClass("active");
                            airconditionCheck = true;
                        } else { $('#air3').removeClass("active");}

                        var $airBtn = $('#airBtn');
                        if (airconditionCheck) {
                            $airBtn.addClass("active")
                        } else {
                            $airBtn.removeClass("active")
                        }
                    }

                    if(res.data.doorsensor != '') {
                        // 창문 셋팅
                        console.log('doorsensor Json 데이터 : ' + res.data.doorsensor.r_data);
                        var doorsensor = JSON.parse(res.data.doorsensor.r_data);
                        let doorCheckRm3 =false; //안방

                        if (doorsensor.SS023dr01 === "on")  doorCheckRm3 = true
                        if (doorsensor.SS023dr02 === "on")  doorCheckRm3 = true
                        if (doorsensor.SS023dr03 === "on")  doorCheckRm3 = true

                        if(doorCheckRm3){
                            let doorType= "";
                            if(doorCheckRm3) doorType = "안방";
                            $('#doorStatus').addClass("active")
                            $('#doorMessage').text(doorType + " 창문(뒷문)이 열렸습니다.");
                        }else{
                            $('#doorStatus').removeClass("active")
                            $('#doorMessage').text("창문 보안 안전");
                        }


                    }

                    if(res.data.smoke !== '') {
                        // 화재 셋팅
                        console.log('smoke Json 데이터 : ' + res.data.smoke.r_data);
                        var smoke = JSON.parse(res.data.smoke.r_data);
                        console.log('smoke 상태 : ' + smoke.SS021sm01);
                        console.log('');

                        let checkSmoke = false;
                        if (smoke.SS021sm01 === "detected") checkSmoke = true;
                        if (smoke.SS022sm01 === "detected") checkSmoke = true;
                        if (smoke.SS023sm01 === "detected") checkSmoke = true;
                        if (smoke.SS024sm01 === "detected") checkSmoke = true;
                        if (smoke.SS025sm01 === "detected") checkSmoke = true;

                        var $smoke = $('#smoke');
                        if (checkSmoke){
                            $smoke.addClass("active");
                        }else{
                            $smoke.removeClass("active");
                        }
                    }

                    if(res.data.batteryData !== '') {
                        // 배터리 셋팅
                        console.log('battery Json 데이터 : ' + res.data.batteryData.r_data);
                        var battery = JSON.parse(res.data.batteryData.r_data);
                        console.log('');

                        var batteryLowValue = 100;
                        $.each(battery,function(key, value){
                            // console.log('키 : '+key + ', 값 :' + value);
                            if(value!=="" && batteryLowValue>Number(value)){
                                // console.log('batteryLowValue : '+batteryLowValue + ', value :' + value);
                                batteryLowValue = Number(value);
                            }
                        });
                        console.log('제일 낮은 battery : ' + batteryLowValue);
                        batteryRefresh(batteryLowValue)
                    }

                }
            });
        }

        // 온도표기해주는 함수
        function tempRefresh(elimentId,value) {
            console.log('받은 온도 : '+value);

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 48,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '°C'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
            var $tempMessage = $('#'+elimentId+'Message');
            if (value > 27) {
                $tempColor.addClass('red').removeClass('blue');
                $tempMessage.text('실내 온도가 덥습니다.');
            } else if (value < 18) {
                $tempColor.addClass('blue').removeClass('red');
                $tempMessage.text('실내 온도가 춥습니다.');
            } else {
                $tempColor.removeClass('blue').removeClass('red');
                $tempMessage.text('적정 실내 온도입니다.');
            }
        }

        //습도 표기해주는 함수
        function humRefresh(elimentId,value) {

            // 값은 받아오나, 텍스트를 리프레쉬할수없음.
            const cp = new CircleProgress('#'+elimentId, {
                max: 100,
                value: value,
                animationDuration: 400,
                textFormat: (value) => value + '%'
            });
            cp.value = value;

            var $tempColor = $('#'+elimentId+'Color');
            var $tempMessage = $('#'+elimentId+'Message');
            if (value > 60) {
                $tempColor.addClass('red').removeClass('blue');
                $tempMessage.text('실내가 습합니다.');
                if (value>=80) $tempMessage.text('실내가 매우 습합니다.');
            } else if (value < 40) {
                $tempColor.addClass('blue').removeClass('red');
                $tempMessage.text('실내가 건조합니다.');
                if (value<30) $tempMessage.text('실내가 매우 건조합니다.');
            } else {
                $tempColor.removeClass('blue').removeClass('red');
                $tempMessage.text('적정 실내습도입니다.');
            }
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="console">
        <div class="infobox">
            <h2 class="info-title">Manager Mode</h2>
            <div class="datetime">
                <span class="date">2021.01.18 월요일</span>
                <span class="time">am 10:16</span>
            </div>
        </div>
        <div class="iot-buttons">
            <h3>IoT 가전제어</h3>
            <ul>
                <li>
                    <button id="airBtn" class="console-button aircon">에어컨<span>ON</span></button>
                </li>
                <li>
                    <button id="lightBtn" class="console-button light">조명<span>ON</span></button>
                </li>
                <li>
                    <button id="aqBtn" class="console-button airfresher">공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button id="electricBtn" class="console-button electronic">가전 전원<span>ON</span></button>
                </li>
            </ul>
        </div>
        <div class="battery">
            <div class="battery__head">
                <h3 class="battery_title">배터리</h3>
                <span class="battery-percent"></span>
                <a href="/admindashboard/battery" class="battery-link"><img src="/assets/images/btn_setting.png" alt="" /></a>
            </div>
            <div class="battery__contents">
                <div class="battery__progress" data-percent="80">
                    <div class="battery__bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li><a href="/admindashboard/">HOME</a></li>
                <li><a href="/admindashboard/living">거실</a></li>
                <li><a href="/admindashboard/kitchen">주방</a></li>
                <li><a href="/admindashboard/inner" class="inner active">안방</a></li>
                <li><a href="/admindashboard/exercise">운동방</a></li>
                <li><a href="/admindashboard/warehouse">창고방</a></li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="/temp/tempdetail/SS023mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_temperature.png" alt="온도">온도</h3>
                            <div id="temChartRm3Color" class="temp">
                                <div id="temChartRm3" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="temChartRm1Message">적정 실내 온도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/humidity/humdetail/SS023mu01" class="card-link">
                            <h3 class="card-title"><img src="/assets/images/icon_humidity.png" alt="습도">습도</h3>
                            <div id ="humChartRm3Color" class="humidity">
                                <div id="humChartRm3" class="progress temp-progress"></div>
                            </div>
                            <span class="card-comment" id="humChartRm1Message">적정 실내 습도입니다.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="/air/airdetail/SS023pm01" class="card-link sensor-card sensor-card--air">
                            <h3 class="card-title"><img src="/assets/images/icon_air.png" alt="공기질">공기질</h3>
                            <div id ="airChartRm3Color" class="air">
                                <div id="airChartRm3" class="progress air-progress"></div>
                                <div class="air__state" id="airChartRm3State"></div>
                            </div>
                            <span class="card-comment" id="airChartRm3Message">공기청정기를 ON 해주세요.</span>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="doorStatus" class="homestate door">
                                <h3 class="card-title">창문</h3>
                                <div class="card-icon card-icon--door"></div>
                                <span class="card-comment" id="doorMessage">창문 보안 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="#" class="card-link">
                            <div id="smoke" class="homestate fire">
                                <h3 class="card-title">화재</h3>
                                <div class="card-icon card-icon--fire"></div>
                                <span class="card-comment" id="fireMessage">화재 위험 안전</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
