<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {
            dataInfo();
            AutoStart();
        })

        // 1분마다 새로고침
        function AutoStart() {
            setInterval(dataInfo, 60000);
        }

        // 데이터 받아오는 함수
        function dataInfo() {
            $.ajax({
                url: '/homedata/dataInfo',
                type: 'post',
                cache: false,
                error: function () {
                    alert('데이터받기 실패');
                },
                success: function (res) {

                    // 온도셋팅
                    // console.log('temperatureData Json 데이터 : '+ res.data.temperatureData.r_data);
                    var temperature = JSON.parse(res.data.temperatureData.r_data);
                    // console.log('사무실 온도 temperature rm1tm01 상태 : '+temperature.rm1tm01);
                    // console.log('회의실 온도 temperature rm2 상태 : '+temperature.rm2tm01);
                    // console.log('');
                    var temDataRm1 = temperature.rm1tm01; // 사무실 온도
                    var temDataRm2 = temperature.rm2tm01; // 회의실 온도

                    const temp = new CircleProgress('#tem', {
                        max: 48,
                        value: temDataRm2,
                        animationDuration: 400,
                        textFormat: (val) => val + '°C'
                    });
                    temp.value = temDataRm2;
                    var $temp = $('.temp');
                    if (temp.value > 26) {
                        $temp.addClass('red').removeClass('blue');
                    } else if (temp.value < 23) {
                        $temp.addClass('blue').removeClass('red');
                    } else {
                        $temp.removeClass('blue').removeClass('red');
                    }

                    // 습도셋팅
                    // console.log('humidityData Json 데이터 : '+ res.data.humidity.r_data);
                    var humidity = JSON.parse(res.data.humidity.r_data);
                    // console.log('사무실 습도 humidity rm1 상태 : '+humidity.rm1hu01);
                    // console.log('회의실 습도 humidity rm2 상태 : '+humidity.rm2hu01);
                    // console.log('');
                    var humDataRm1 = humidity.rm1hu01; // 사무실 습도
                    var humDataRm2 = humidity.rm1hu01; // 회의실 습도

                    const hum = new CircleProgress('#hum', {
                        max: 100,
                        value: humDataRm2,
                        animationDuration: 400,
                        textFormat: (val) => val + '%'
                    });
                    hum.value = humDataRm2;
                    var $humidity = $('.humidity');
                    if (hum.value > 70) {
                        $humidity.addClass('blue').removeClass('red');
                    } else if (hum.value < 40) {
                        $humidity.addClass('red').removeClass('blue');
                    } else {
                        $humidity.removeClass('blue').removeClass('red');
                    }

                    // 창문 셋팅
                    console.log('doorsensor Json 데이터 : '+ res.data.doorsensor.r_data);
                    var doorsensor = JSON.parse(res.data.doorsensor.r_data);
                    console.log('doorsensor 상태 : '+doorsensor.rm1dr01);
                    console.log('');
                    var doorsensorStatus = doorsensor.rm1dr01;
                    var $doorStatus = $('#doorStatus');
                    if(doorsensorStatus==="off"){
                        $doorStatus.addClass("active")
                    }else{
                        $doorStatus.removeClass("active")
                    }

                }
            });
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="/admin" class="nav-link"><span>HOME</span></a>
                </li>
                <li>
                    <a href="/living" class="nav-link"><span>거실</span></a>
                </li>
                <li>
                    <a href="/kitchen" class="nav-link active"><span>주방</span></a>
                </li>
                <li>
                    <a href="/inner" class="nav-link"><span>안방</span></a>
                </li>
                <li>
                    <a href="/exercise" class="nav-link"><span>운동</span></a>
                </li>
                <li>
                    <a href="/warehouse" class="nav-link"><span>창고</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <a href="javascript:history.back()" class="console-button back"><i class="fas fa-undo-alt"></i>뒤로가기</a>
                </li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a style="cursor:pointer" onclick="temLink('rm2tm01');" class="card-link">
                        <h3 class="card-title">온도</h3>
                            <div class="temp">
                                <span class="card-icon"><i class="fas fa-thermometer-half"></i></span>
                                <div id="tem" class="progress temp-progress"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a style="cursor:pointer" onclick="humLink('rm2hu01');" class="card-link">
                            <h3 class="card-title">습도</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div id="hum" class="progress humidity-progress"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="../adminstate/air.html" class="card-link">
                            <h3 class="card-title">공기질</h3>
                            <div class="air">
                                <span class="card-icon"><i class="fas fa-air-freshener"></i></span>
                                <div class="air-icon">
                                    <i class="far fa-smile"></i>
                                    <!-- 변경시 fa-smile 삭제 .air에 클래스 추가 -->
                                    <!-- 좋음일 때 air에 good추가 fa-smile-wink 변경 -->
                                    <!-- 나쁨일 때 air에 bad 추가 fa-frown 변경 -->
                                </div>
                                <div class="air-state">보통</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">창문</h3>
                            <div id="doorStatus" class="door">
                                <span class="card-icon"><i class="fas fa-lock"></i></span>
                                <div class="door-icon">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <span>아이콘 이미지 교체 필요</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">가스</h3>
                            <div class="gas active">
                                <span class="card-icon"><i class="fas fa-burn"></i></span>
                                <div class="gas-icon">
                                    <i class="fas fa-burn"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">화재</h3>
                            <div class="fire active">
                                <span class="card-icon"><i class="fas fa-fire-extinguisher"></i></span>
                                <div class="fire-icon">
                                    <i class="fas fa-fire-extinguisher"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
