<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/common_admin.css">
    <script src="./assets/js/common_admin.js"></script>



</head>

<body>
<div class="wrap">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="../index.html" class="nav-link"><span>HOME</span></a>
                </li>
                <li>
                    <a href="living.html" class="nav-link"><span>거실</span></a>
                </li>
                <li>
                    <a href="kitchen.html" class="nav-link active"><span>주방</span></a>
                </li>
                <li>
                    <a href="room1.html" class="nav-link"><span>안방</span></a>
                </li>
                <li>
                    <a href="room2.html" class="nav-link"><span>운동</span></a>
                </li>
                <li>
                    <a href="room3.html" class="nav-link"><span>창고</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <button class="console-button aircon"><i class="fas fa-wind"></i>에어컨<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button light"><i class="fas fa-lightbulb"></i>조명<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button airfresher"><i class="fas fa-air-freshener"></i>공기청정기<span>ON</span></button>
                </li>
                <li>
                    <button class="console-button electronic"><i class="fas fa-power-off"></i>전원<span>ON</span></button>
                </li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="../state/temp.html" class="card-link">
                            <h3 class="card-title">온도</h3>
                            <div class="temp">
                                <span class="card-icon"><i class="fas fa-thermometer-half"></i></span>
                                <div class="progress temp-progress" data-temp="36"></div>
                                <!-- 온도 프로그레스 클래스 temp-progress추가 data-temp 추가 -->
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="../state/humidity.html" class="card-link">
                            <h3 class="card-title">습도</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress humidity-progress" data-percent="74"></div>
                                <!-- 습도 프로그레스 클래스 humidity-progress추가 data-percent 추가 -->
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="../state/air.html" class="card-link">
                            <h3 class="card-title">공기질</h3>
                            <div class="air">
                                <span class="card-icon"><i class="fas fa-air-freshener"></i></span>
                                <div class="air-icon">
                                    <i class="far fa-smile"></i>
                                    <!-- 변경시 fa-smile 삭제 .air에 클래스 추가 -->
                                    <!-- 좋음일 때 air에 good추가 fa-smile-wink 변경 -->
                                    <!-- 나쁨일 때 air에 bad 추가 fa-frown 변경 -->
                                </div>
                                <div class="air-state">보통</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">창문</h3>
                            <div class="door active">
                                <span class="card-icon"><i class="fas fa-lock"></i></span>
                                <div class="door-icon">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <span>아이콘 이미지 교체 필요</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">가스</h3>
                            <div class="gas active">
                                <span class="card-icon"><i class="fas fa-burn"></i></span>
                                <div class="gas-icon">
                                    <i class="fas fa-burn"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">화재</h3>
                            <div class="fire active">
                                <span class="card-icon"><i class="fas fa-fire-extinguisher"></i></span>
                                <div class="fire-icon">
                                    <i class="fas fa-fire-extinguisher"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
