<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/admindefault}">

<head>
    <script type="text/javascript">

        $(function() {

        })

    </script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="admin" class="nav-link"><span>HOME</span></a>
                </li>
                <li>
                    <a href="living" class="nav-link"><span>거실</span></a>
                </li>
                <li>
                    <a href="kitchen" class="nav-link"><span>주방</span></a>
                </li>
                <li>
                    <a href="inner" class="nav-link"><span>안방</span></a>
                </li>
                <li>
                    <a href="exercise" class="nav-link"><span>운동</span></a>
                </li>
                <li>
                    <a href="warehouse" class="nav-link active"><span>창고</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="button-list">
            <ul>
                <li>
                    <a href="javascript:history.back()" class="console-button back"><i class="fas fa-undo-alt"></i>뒤로가기</a>
                </li>
            </ul>
        </div>

        <div class="card-list">
            <ul>
                <li class="card">
                    <div class="card-inner">
                        <a href="../adminstate/temp.html" class="card-link">
                            <h3 class="card-title">온도</h3>
                            <div class="temp">
                                <span class="card-icon"><i class="fas fa-thermometer-half"></i></span>
                                <div class="progress temp-progress" data-temp="36"></div>
                                <!-- 온도 프로그레스 클래스 temp-progress추가 data-temp 추가 -->
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="../adminstate/humidity.html" class="card-link">
                            <h3 class="card-title">습도</h3>
                            <div class="humidity">
                                <span class="card-icon"><i class="fas fa-tint"></i></span>
                                <div class="progress humidity-progress" data-percent="74"></div>
                                <!-- 습도 프로그레스 클래스 humidity-progress추가 data-percent 추가 -->
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a href="../adminstate/air.html" class="card-link">
                            <h3 class="card-title">공기질</h3>
                            <div class="air">
                                <span class="card-icon"><i class="fas fa-air-freshener"></i></span>
                                <div class="air-icon">
                                    <i class="far fa-smile"></i>
                                    <!-- 변경시 fa-smile 삭제 .air에 클래스 추가 -->
                                    <!-- 좋음일 때 air에 good추가 fa-smile-wink 변경 -->
                                    <!-- 나쁨일 때 air에 bad 추가 fa-frown 변경 -->
                                </div>
                                <div class="air-state">보통</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">창문</h3>
                            <div id="doorStatus" class="door">
                                <span class="card-icon"><i class="fas fa-lock"></i></span>
                                <div class="door-icon">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <span>아이콘 이미지 교체 필요</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="card">
                    <div class="card-inner">
                        <a class="card-link">
                            <h3 class="card-title">화재</h3>
                            <div class="fire active">
                                <span class="card-icon"><i class="fas fa-fire-extinguisher"></i></span>
                                <div class="fire-icon">
                                    <i class="fas fa-fire-extinguisher"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
